<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록 페이지</title>
    <link rel="stylesheet" href="/css/product_style.css">
</head>
<body>
    <div id="wrap">
        <header style="width: 100%; height: 273px; background:#060032;"></header>

        <section id="product_list">
            <div class="container">
                <div class="product_list">
                    <div class="p_header">
                        <h2 class="proudct_title">남성</h2>
                        <ul>
                            <li class="on"><a href="javascript:;">인기순</a></li>
                            <li><a href="javascript:;">최신순</a></li>
                            <li><a href="javascript:;">낮은 가격순</a></li>
                            <li><a href="javascript:;">높은 가격순</a></li>
                        </ul>
                    </div>
                    <div class="p_2step_box">
                        <ul>
                            <li class="on"><a href="javascript:;">전체 (333)</a></li>
                            <li><a href="javascript:;">아우터 (55)</a></li>
                            <li><a href="javascript:;">상의 (55)</a></li>
                            <li><a href="javascript:;">하의 (55)</a></li>
                            <li><a href="javascript:;">ACC (55)</a></li>
                        </ul>
                    </div>

                    <div class="product_items">
                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>
                                        원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>

                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>
                                        원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>
                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>
                                        원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>
                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>
                                        원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>
                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>
                        
                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>

                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>

                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>

                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>

                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>

                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>

                        <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>
                    </div>

                    <div class="pagaing_wrap">
                        <ul class="pagaing_left">
                            <li class="allPrev hide"><a href="javascript:;"></a></li>
                            <li class="prev hide"><a href="javascript:;"></a></li>
                        </ul>
                        
                        <ul class="pagaing_num">
                            <li class="on"><a href="javascript:;">1</a></li>
                            <li><a href="javascript:;">2</a></li>
                            <li><a href="javascript:;">3</a></li>
                            <li><a href="javascript:;">4</a></li>
                            <li><a href="javascript:;">5</a></li>
                            <li><a href="javascript:;">6</a></li>
                            <li><a href="javascript:;">7</a></li>
                            <li><a href="javascript:;">8</a></li>
                            <li><a href="javascript:;">9</a></li>
                            <li><a href="javascript:;">10</a></li>
                        </ul>

                        <ul class="pagaing_right">
                            <li class="next"><a href="javascript:;"></a></li>
                            <li class="allNext"><a href="javascript:;"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    
</body>
</html>