<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
			    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>상품 상세 페이지</title>
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/css/product_style.css}">
    <style>
    	#nav-wrapper{margin-bottom:0 !important;}
    </style>
    <script th:inline="javascript">
    	// pNo전달위해 
    	let pNoNumber = Number('[[${pNo}]]');
    	let loginUno = Number('[[${modelMap.loginUno}]]');
    	
    	
    </script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/product_common.js}"></script> <!-- 상품 페이지 공통js -->
    <script th:src="@{/js/product.js}" th:inline="javascript"></script>	      <!-- 상품 상세js -->
    <script th:src="@{/js/product_qna.js}"></script>	  <!-- 상품 상세 상품문의 js -->
    <script th:src="@{/js/product_review.js}"></script>	  <!-- 상품 상세 상품리뷰 js -->
    <script>
    	$(function(){
		    let pMsg = '[[${pMsg}]]';
			if(pMsg != ''){
				alertPopup(pMsg);
			}
    	})
    </script>
</head>
<body>
    <div id="wrap">
        <div th:replace="common/header.html"></div>
       <section id="product_view">
            <div class="container">
                <div class="product_view">
                    <div class="view_main_wrap">
                        <!-- 상품 top -->
                        <div class="view_top_wrap">
                            <div class="slide_wrap">
                                <div class="img">
                                    <img th:src="@{${modelMap.info.imageList[0].route} + ${modelMap.info.imageList[0].imgrName}}" alt="" th:if="${modelMap.info.imageList != null}">
                                </div>
                                <div class="img_list" th:if="${modelMap.info.imageList != null}">
                                    <a href="javascript:;" th:each="image : ${modelMap.info.imageList}" th:classappend="${imageStat.first} ? 'on'">
                                        <img th:src="${image.route} + ${image.imgrName}" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="view_txt_wrap">
                                <p class="product_title" th:text="${modelMap.info.pName}">긴팔 셔츠/체크/스트라이프/캐주얼/오버핏/빅 사이즈</p>
                                
                                <th:block sec:authorize="isAuthenticated()">
						       		<a href="javascript:;" th:onclick="|javascript:wishListHandler(${modelMap.loginUno} , ${modelMap.info.pNo})|" class="btn_wish" th:classappend="${modelMap.info.wishLike == 1} ? 'on'"></a>
						       </th:block>
                                <th:block sec:authorize="isAnonymous()">
						       		 <a href="javascript:;" th:onclick="|javascript:wishListHandler(${modelMap.loginUno} , ${modelMap.info.pNo})|" class="btn_wish"></a>
						       </th:block>
                               
                                
                                <p class="sale_price" th:text="|${#numbers.formatInteger(modelMap.info.pPrice, 3, 'COMMA')}원|">25,000원</p>
                                <div class="price_wrap" >
                                    <p class="price" th:with="perwon = ${modelMap.info.pPrice - (modelMap.info.pPrice * (modelMap.info.pDiscount / 100.0))}">
                                        <span th:text="${#numbers.formatInteger(perwon, 3, 'COMMA')}">17,000</span>원
                                    </p>
                                    <p class="price_per">
                                        <span th:text="${modelMap.info.pDiscount}">32</span>%
                                    </p>
                                </div>
                                <div class="view_status">
                                    <strong>택배</strong>
                                    <p class="post_price">2,500원 <span>(총 구매금액 8만원 이상 무료배송)</span></p>
                                    <p class="post_day"><span>10월 20일</span>도착예정</p>
                                    <p class="tip">주문 시, 발송일자를 확인해주세요</p>
                                </div>
                            </div>
                        </div>

                        <div class="view_tab_wrap">
                            <div class="tab_box">
                                <a href="javascript:;" class="on">상품상세</a>
                                <a href="javascript:;">상품리뷰 (<span>10</span>)</a>
                                <a href="javascript:;">상품문의 (<span>10</span>)</a>
                                <a href="javascript:;">기본정보</a>
                            </div>
                        </div>
                        
                        <div class="view_detail_wrap">
                            <div class="detail_wrap">
                                <img src="/images/view_detail_sample.png" alt="">
                            </div>
                        </div>

                        <div class="view_item_wrap" id="item_review">
                            <div class="head">
                                <h3 class="title">상품리뷰</h3>
                            </div>
                            <div class="review_wrap" id="review_board">
                            	<div class="review_list" th:if="${reviewList != null and #lists.size(reviewList) > 0}" th:each="review : ${reviewList}" >
                                    <p class="review_date">2021.10.21</p>
                                    <a href="javascript:;" th:onclick="|javascript:reviewLike(${review.rNo}, ${review.loginUno});|" class="review_like" th:classappend="${review.likeCount} == 1 ? 'on'">좋아요</a>
                                    <p class="review_id">
                                    	<span th:text="${#strings.substring(review.member.id, 0, #strings.length(review.member.id) - 4) + '****'}">id1234****</span>
	                                    <span class="sub" th:text="|${review.member.gender}성-|">남성</span>
	                                    <th:block th:switch="${review.openSize}">
	                                    	<span class="sub" th:case="Y" th:text="|${review.member.height}cm, ${review.member.weight}kg|">(173cm, 76kg)</span>
	                                    	<span class="sub" th:case="N">비공개</span>
	                                    </th:block> 
                                    </p>
                                    <ul class="review_star_wrap">
                                    	<th:block th:each="score, s : ${#numbers.sequence(1, 5)}">
                                    		<li class="reive_star on" th:if="${s.current <= review.score}"></li>
                                    		<li class="reive_star" th:unless="${s.current <= review.score}"></li>
                                    	</th:block>
                                        
                                    </ul>
                                    <p class="review_option" th:text="|${review.pColor} / ${review.pSize}|">캐쥬얼 긴팔 셔츠 / 화이트 / L</p>

                                    <ul class="review_img_wrap">
                                        <li class="review_img" th:each="img : ${review.imageList}">
                                            <a href="javascript:;" th:onclick="|javascript:reviewView(${review.rNo});|">
                                                <img th:src="@{${img.route} + ${img.imgrName}}" alt="">
                                            </a>
                                        </li>
                                    </ul>

                                    <div class="review_txt_wrap">
                                      <p class="review_txt" th:text="${review.rContent}">
                                        마음에들어요<br>
                                        마음에들어요!
                                      </p>
                                    </div>
                                </div>
                                
                                <!-- nodata -->
                                <div class="nodata" th:unless="${reviewList != null and #lists.size(reviewList) > 0}"></div>
                            </div>
                            
                                <!-- 페이징 -->
                            <div class="pagaing_wrap">
                                <ul class="pagaing_left">
                                    <li class="allPrev hide"><a href="javascript:;"></a></li>
                                    <li class="prev hide"><a href="javascript:;"></a></li>
                                </ul>
                                
                                <ul class="pagaing_num">
                                   
                                </ul>
        
                                <ul class="pagaing_right">
                                    <li class="next"><a href="javascript:;"></a></li>
                                    <li class="allNext"><a href="javascript:;"></a></li>
                                </ul>
                            </div>

                        </div>
						
                        <div class="view_item_wrap" id="item_qna">
                        
                            <div class="head">
                            	
                                <h3 class="title">상품문의</h3>
                                <div class="view_qna_top">
                                    <div class="checkbox">
                                        <input type="checkbox" name="qnaSecret" id="qnaSecret">
                                        <label for="qnaSecret">비밀글 제외</label>
                                    </div>
                                    <div class="select">
                                        <select name="qnaType" id="">
                                        	<option value="INQUIRY_CODE_ALL">상품 전체</option>
		                                    <option value="INQUIRY_CODE1">교환</option>
		                                    <option value="INQUIRY_CODE2">반품</option>
		                                    <option value="INQUIRY_CODE3">배송</option>
		                                    <option value="INQUIRY_CODE4">변경</option>
		                                    <option value="INQUIRY_CODE5">상품</option>
		                                    <option value="INQUIRY_CODE6">취소</option>
		                                </select>
                                    </div>
                                    <a href="javascript:popOpen('productQna', 'insert');" class="btn_qna">상품 문의하기</a>
                                </div>
                            </div>
	
                            <div class="view_qna_wrap" id="view_qna">
                                <ul class="qna_list" th:if="${selectList != null and #lists.size(selectList) > 0}" >
	                                    <li class="line" th:each="list: ${selectList}" >
	                                        <div class="line_box">
	                                            <p class="line_type" th:text="${list.piCateName}">문의 카테고리 이름</p>
	                                            <th:block th:switch="${list.piqSecret}">
	                                            	<p class="line_title" th:case="Y" th:classappend="${list.userNo != list.loginUno} ? 'secret'">
		                                            	<a href="javascript:;" th:if="${list.userNo != list.loginUno}">비밀글 입니다.</a>
		                                            	<a href="javascript:;" th:unless="${list.userNo != list.loginUno}" th:text="${list.piqTitle}"></a>
		                                            </p>
		                                            <p class="line_title" th:case="N">
		                                            	<a href="javascript:;" th:text="${list.piqTitle}"></a>
		                                            </p>
	                                            </th:block>
	                                            <p class="line_id" th:text="${#strings.substring(list.id, 0, #strings.length(list.id) - 4) + '****'}">
	                                                id1234****
	                                            </p>
	                                            <p class="line_date" th:text="${list.piqCreateDate}">
	                                                2021.10.20
	                                            </p>
	                                            
	                                            <th:block th:if="${list.productQnaA != null}">
	                                            	 <p class="line_status complete">답변</p>
	                                            </th:block>
	                                            <th:block th:unless="${list.productQnaA != null}">
	                                            	 <p class="line_status">대기
		                                            </p>
	                                            </th:block>
	                                        </div>
	                                        <div class="line_qna_box">
	                                            <div class="line_q_box">
	                                                <div class="text_box">
	                                                    <p th:text="${list.piqContent}">상품에 문제가있습니다.</p>
	                                                </div>
	                                                
	                                                <ul class="btn_box">
	                                                    <li th:if="${list.userNo == list.loginUno}">
	                                                        <a href="javascript:;" th:onclick="|javascript:qnaModifyView(${list.piqCode})|">수정</a>
	                                                    </li>
	                                                    <li th:if="${list.userNo == list.loginUno}">
	                                                    	<a href="javascript:;" th:onclick="|javascript:qnaDelete(${list.piqCode})|">삭제</a>
	                                                    </li>
	                                                </ul>
	                                            </div>
	                                            <div class="line_q_box">
	                                            <th:block th:if="${list.productQnaA != null}">
	                                            	<div class="text_box">
	                                               	    <p th:text="${list.productQnaA.piaContent}"></p>
	                                                </div>
	                                                
	                                                <p class="text_date" th:text="${list.productQnaA.piaCreateDate}"></p>
	                                            </th:block>
	                                            <th:block th:if="${list.productQnaA == null}">
	                                            	<div class="text_box">
	                                               	    <p>문의 답변 대기중입니다.</p>
	                                                </div>
	                                            </th:block>
	                                            </div>
	                                        </div>
	                                    </li>
                                </ul>
                                <div class="nodata" th:unless="${selectList != null and #lists.size(selectList) > 0}"></div>
                                
                            </div>
                            
                            <!-- 페이징 -->
                            <div class="pagaing_wrap">
                                <ul class="pagaing_left">
                                    <li class="allPrev hide"><a href="javascript:;"></a></li>
                                    <li class="prev hide"><a href="javascript:;"></a></li>
                                </ul>
                                <ul class="pagaing_num">
                                </ul>
        
                                <ul class="pagaing_right">
                                    <li class="next"><a href="javascript:;"></a></li>
                                    <li class="allNext"><a href="javascript:;"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="view_item_wrap" id="item_info">
                            <div class="head">
                                <h3 class="title">배송/교환/반품 정보</h3>
                            </div>

                            <div class="view_info_wrap">
                                <dl>
                                    <dt>배송</dt>
                                    <dd>배송기간은 주문일로부터 2일~5일(주말/공휴일 제외)이 소요됩니다.</dd>
                                    <dd>각 공급사마다 배송비가 차등 부과되며, 배송비 부과 기준에 따라 별도의 배송비가 책정될 수도 있습니다.</dd>
                                    <dd>직접수령은 불가합니다. 온라인 주문/배송만 가능합니다.</dd>
                                    <dd>묶음배송은 불가합니다. 각 주문건별로 별도로 배송됩니다.</dd>
                                    <dd>주문 후 상품준비기간(영업일 기준 1일~3일)동안 간혹 예기치 못한 재고부족으로 인한 품절 및 출고 지연이 발생될 수 있습니다.</dd>
                                </dl>

                                <dl>
                                    <dt>교환/반품/환불</dt>
                                    <dd>교환/반품 신청은 배송완료 후 7일 이내 가능합니다.</dd>
                                    <dd>변심반품/교환 제품의 하자나 불량이 아닌 변심건의 경우 왕복배송비(6,000원)를 고객부담으로 하며, 제품 및 포장 상태가 재판매 가능하여야 합니다.</dd>
                                    <dd>환불승인 후 영업일 기준 3~7일 이내 환불 및 취소여부 확인 가능합니다.</dd>
                                    <dd>상품 불량확정 시 배송비를 포함한 전액이 환불됩니다.</dd>
                                    <dd>상품가치가 훼손된 경우 교환/반품이 불가합니다. (제품포장 개봉 및 주문제작상품 / 밀봉포장상품 및 스티커부착 상품 / 텍 제거상품 / 식품 등)</dd>
                                    <dd>출고 이후 환불요청 시 상품 회수 후 처리됩니다.</dd>
                                    <dd>교환/환불에 대한 브랜드 개별기준이 있는 경우에는 해당 내용이 우선 적용 됩니다.</dd>
                                </dl>
                            </div>
                            
                        </div>
                    </div>
                    <div class="view_sub_wrap">
                        <div class="box_wrap">
	                        <form name="productFrm" th:action="@{/product/order}" method="post">
	                        	
	                        	<input type="hidden" name="userNo" th:value="${modelMap.loginUno}" >
	                        	<input type="hidden" name="pNo" th:value="${pNo}" >
	                        	<input type="hidden" name="sellerCode" th:value="${modelMap.info.sellerCode}" >
	                        	
		                            <div class="option_wrap">
	                                <select name="optionColor" id="optionColor" class="select" >
	                                    <option value="colorChoice">색상 선택</option>
	                                </select>
	                                <select name="optionSize" id="optionSize" class="select" disabled>
	                                    <option value="">옵션 선택</option>
	                                </select>
	                            </div>
	
	                            <div class="select_list_wrap">
	                                <!-- 상품 선택 옵션 들어갑니다. -->
	                            </div>
	
	                            <div class="list_total_wrap">
	                                <p class="title">총 <span>0</span>개 상품구매</p>
	                                <p class="price"><span>0</span>원</p>
	                            </div>
	
	                            <div class="list_btn_wrap">
	                                <button type="button" class="buy" onclick="productBuyHandler()">구매하기</button>
	                                <button type="button" class="cart" onclick="productCartHandler()">장바구니</button>
	                            </div>
	                        </form>
                        </div>
                    </div>
                </div>
            </div>
       </section>
       
       <div th:replace="common/footer.html"></div>
       
    </div>
    
    <!-- 팝업 영역 -->
    <!-- 상품문의 등록 or 수정(공용) S -->
    <div class="layout_wrap" id="productQna">
        <div class="dim"></div>
        <div class="layout_box">
            <div class="layout_head">
                <h3 class="title">상품문의 등록</h3>
                <a href="javascript:popClose('productQna');" class="pop_close"></a>
            </div>
            <div class="layout_body">
                <div class="layout_qna_wrap">
                	<input type="hidden" name="qnaType">
                    <dl>
                        <dt>공개 여부*</dt>
                        <dd>
                            <div class="select">
                                <select name="piqSecret" id="">
                                    <option value="N">공개</option>
                                    <option value="Y">비공개</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>문의 유형*</dt>
                        <dd>
                            <div class="select">
                                <select name="piCateCode" id="">
                                    <option value="INQUIRY_CODE1">교환</option>
                                    <option value="INQUIRY_CODE2">반품</option>
                                    <option value="INQUIRY_CODE3">배송</option>
                                    <option value="INQUIRY_CODE4">변경</option>
                                    <option value="INQUIRY_CODE5">상품</option>
                                    <option value="INQUIRY_CODE6">취소</option>
                                </select>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>제목*</dt>
                        <dd>
                            <div class="input">
                                <input type="text" name="piqTitle">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>내용*</dt>
                        <dd>
                            <div class="textarea">
                                <textarea name="piqContent" id="" cols="30" rows="10"></textarea>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="layout_btn_wrap">
                    <a href="javascript:;" class="active">등록하기</a>
                    <a href="javascript:;" class="active">수정하기</a>
                    <a href="javascript:;">취소하기</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 상품문의 등록 or 수정(공용) E -->
    
    <!-- 상품 리뷰 상세 S -->
    <div class="layout_wrap" id="review_view">
        <div class="dim"></div>
        <div class="layout_box">
            <div class="layout_head">
                <h3 class="title">상품 리뷰 상세</h3>
                <a href="javascript:popClose('review_view');" class="pop_close"></a>
            </div>
            <div class="layout_body type02">
              <div class="layout_review">
                <div class="slide_wrap">

                    <div class="slide_page"></div>

                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                                <img src="/images/slide_sample.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/slide_sample.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/slide_sample.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="/images/slide_sample.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="review_info_wrap">
                    <p class="review_id">
                    <span class="review_id_text">
                    	id1234****
                    </span> 
                    
                    <span class="info">남성-(173cm, 76kg)</span></p>
                    <p class="review_date">2021.10.21</p>
                    <div class="review_star">
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star on"></div>
                        <div class="star"></div>
                        <div class="star"></div>
                    </div>
                    <p class="review_option">캐쥬얼 긴팔 셔츠 / 화이트 / L</p>
                    <div class="review_txt_box">
                        <p>가나다람ㄴ암낭망남ㄴ암ㅇ남ㅇ낭ㅁ난ㅇㅁ</p>
                        <p>가나다람ㄴ암낭망남ㄴ암ㅇ남ㅇ낭ㅁ난ㅇㅁ</p>
                    </div>

                </div>
              </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
          pagination: {
            loop: true,
            el: ".slide_page",
            type: "fraction",
          },
          observer: true,
          observeParents: true
        });
        
        $(function(){
        	// 상품 상세 이미지 이벤트
        	$(".slide_wrap .img_list a").mouseenter(function(){
        		$(".slide_wrap .img_list a").removeClass("on");
        		$(this).addClass("on");
        		
        		let imgAttr = $(this).find("img").attr("src");
        		console.log(imgAttr);
        		
        		$(".slide_wrap .img img").attr("src", imgAttr);
        		
        	})
        	
        	
        })
      </script>
    <!-- 상품 리뷰 상세 E -->
    
    <!-- 각종알림(공용) S -->
    <div class="layout_wrap" id="alertPopup">
        <div class="dim"></div>
        <div class="layout_box">
            <div class="alert_wrap">
                <h3 class="layout_title">쿠폰 적용 완료되었습니다.</h3>
                <p class="auto_text">(3초후에 자동으로 사라집니다)</p>
                <a href="javascript:popClose('alertPopup');" class="alert_btn">확인</a>
            </div>
        </div>
    </div>
    <!-- 각종알림(공용) E -->
</body>
</html>