<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록 페이지</title>
    <link rel="stylesheet" href="/css/product_style.css">
</head>
<body>
    <div id="wrap">
        <header style="width: 100%; height: 273px; background:#060032;"></header>

        <section id="product_list">
            <div class="container">
                <div class="product_list">
                    <div class="p_header">
                    	<th:block th:switch="${type}">
	                        <h2 class="proudct_title" th:case="man">남성</h2>
	                        <h2 class="proudct_title" th:case="woman">여성</h2>
	                        <h2 class="proudct_title" th:case="public">공용</h2>
                    	</th:block>
                        <ul>
                            <li class="on"><a href="javascript:;">인기순</a></li>
                            <li><a href="javascript:;">최신순</a></li>
                            <li><a href="javascript:;">낮은 가격순</a></li>
                            <li><a href="javascript:;">높은 가격순</a></li>
                        </ul>
                    </div>
                    <div class="p_2step_box">
                        <ul>
                            <li class="on"><a href="javascript:;">전체 (333)</a></li>
                            <li><a href="javascript:;">아우터 (55)</a></li>
                            <li><a href="javascript:;">상의 (55)</a></li>
                            <li><a href="javascript:;">하의 (55)</a></li>
                            <li><a href="javascript:;">ACC (55)</a></li>
                        </ul>
                    </div>

                    <div class="product_items">
                    
                    	 <div class="item" th:each="list : ${productList}">
                            <a th:href="@{'/product/view/' + ${list.pNo}}">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title" th:text="${list.pName}">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price" th:with="perwon = ${list.pPrice - (list.pPrice * (list.pDiscount / 100.0))}">
                                        <span class="won" th:text="${#numbers.formatInteger(perwon, 3, 'COMMA')}">17,000</span>원
                                    </p>
                                    <p class="price_sale" th:text="|${#numbers.formatInteger(list.pPrice, 3, 'COMMA')}원|">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div>
                    
                       <!--  <div class="item">
                            <a href="javascript:;">
                                <div class="photo">
                                    <img src="/images/product_sam1.png" alt="">
                                </div>
                                <p class="title">남성용 여름 캐주얼 셔츠 보카시 투버튼 7부 셔츠</p>
                                <div class="price_wrap">
                                    <p class="price">
                                        <span class="won">17,000</span>
                                        원
                                    </p>
                                    <p class="price_sale">25,000원</p>
                                </div>
                                <div class="product_status">
                                    <p>리뷰 10</p>
                                    <p>구매 20</p>
                                </div>
                            </a>    
                        </div> -->

                    </div>

                    <div class="pagaing_wrap" th:if="${#lists.size(productList) > 0}">
                        <ul class="pagaing_left">
                            <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
                            	<a th:href="@{'/product/list/' + ${type}(page=1)}" th:if="${pi.page > 1}"></a>
	                            <a href="javascript:;" th:unless="${pi.page > 1}"></a>
                            </li>
                            <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                            <a th:href="@{'/product/list/' + ${type}(page=${pi.page - 1})}" th:if="${pi.page > 1}"></a>
                            	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
                            </li>
                        </ul>
                        
                        <ul class="pagaing_num">
                        	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                        		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
                        			<a th:href="@{'/product/list/' + ${type}(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
                        		</li>
                        	</th:block>
                            
                        </ul>

                        <ul class="pagaing_right" >
                            <li class="next" th:classappend="${pi.page == pi.endPage} ? 'hide'">
                            	<a th:href="@{'/product/list/' + ${type} (page=${pi.page} + 1)}" th:if="${pi.page < pi.endPage}"></a>
                            	<a href="javascript:;" th:unless="${pi.page < pi.endPage}"></a>
                            </li>
                            <li class="allNext"  th:classappend="${pi.page == pi.endPage} ? 'hide'">
                            	<a th:href="@{'/product/list/' + ${type} (page=${pi.endPage})}" th:if="${pi.page < pi.endPage}"></a>
                            	<a href="javascript:;" th:unless="${pi.page < pi.endPage}"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    
</body>
</html>