<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<link rel="stylesheet" href="/css/reviewBoard/reset.css" type="text/css">
<style>
.searchdiv {
	float: right;
}

.searcharea::after {
	content: '';
	clear: both;
	display: block;
}

.searchbar {
	width: 125px;
	height: 40px;
}

.reviewBoard {
	margin-left: 100px;
	width: 1050px;
	height: 800px;
}

.wrapper1 {
	width: 100%;
}

.container {
	width: 1400px;
	margin: 0 auto;
	padding: 70px 0;
}

.productinfo li {
	margin-left: 20px;
}
</style>
</head>

<body>
	<div th:replace="common/header.html"></div>
	<div class="wrapper1" style="height: 1300px;">
		<div class="container">
			<div>
				<h1>구매 후기 모아보기</h1>
			</div>

			<div class="reviewBoard">
				<form class="searcharea" th:action="@{/review/review/search}" method="post">
					<div class="searchdiv">
						<input class="searchbar" type="text" title="검색">
						<button class="searchButton" type="submit">
							<img src="/images/돋보기.png"
								style="width: 40px; height: 40px; vertical-align: middle;">
						</button>
					</div>
				</form>
				<ul style="list-style: none;" th:each="Review, i:${reviewList}">
					<li>
						<div
							style="height: 450px; border-style: solid; border-width: 1px 1px; padding-right: 20px;">
							<span class="username"
								style="margin-top: 10px; float: left; margin-left: 20px; font-weight: bolder;"
								th:text="${Review.id}"></span> <span class="like"
								style="float: right; font-size: 20px; padding: 10px; margin-top: 10px; border-style: dotted; border-radius: 20px; border-width: 1px 1px;"
								th:text="|좋아요:${Review.cntlike}|"></span> <br>
							<br> <span style="margin-left: 20px; color: gray;"
								th:text="|${Review.gender},${Review.height},${Review.weight}|"></span>
							<div style="margin-top: 10px;">
								<ul class="productinfo">
									<li style="list-style: none; float: left;"><a
										th:href="@{'/product/view/' + ${Review.pNo}}"><img
											th:src="${Review.route}+${Review.pImgName}"
											style="width: 100px; margin-left: 20px;"></a></li>
									<li style="list-style: none; float: left;">
										<ul style="list-style: none; font-size: 20px; color: grey;">
											<li th:text="${Review.pName}"></li>
											<li th:text="${Review.pPrice}"></li>
											<li th:text="${Review.ss}"></li>
										</ul>
									</li>
								</ul>
							</div>
							<div style="margin-left: 20px; height: 80px; margin-top: 140px;">
								<h3 th:text="${Review.rContent}"></h3>
							</div>
							<div style="margin-left: 20px; height: 120px; margin-top: 10px;">
								<img th:src="${Review.rvroute}+${Review.rvimg}"
									style="width: 100px; margin-left: 20px;">

							</div>


						</div>
					</li>
				</ul>


			</div>
		</div>
	</div>
	<div th:replace="common/footer.html"></div>
	<script>
		$(".searchButton img").click(function() {
			if ($(".searchbar").val() == "") {
				alert("검색어를 입력해주세요.");
				return false;
			}
		});
		$(".searchbar").keydown(function(key) {
			if (key.keyCode == 13) {
				if ($(".searchbar").val() == "") {
					alert("검색어를 입력해주세요.");
					return false;
				}
			}
		});
	</script>
</body>
</html>