<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/cart.css" rel="stylesheet"></link>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>장바구니</title>
</head>
<body>
	<div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
        <div class="title">
            <span>장바구니(<span th:text="${#lists.size(cart_list)}"></span>)</span>
        </div>

        <form>
        	<th:block th:if="${#lists.size(cart_list) > 0}">
            <div class="cart">
                <div class="cart_list">
                    <ul class="cart_header">
                        <li class="allCheck"><input type="checkbox" id="allCheck" onclick="selectAll(this)"></li>
                        <li class="pname">상품명</li>
                        <li class="price">판매가</li>
                        <li class="amount">수량</li>
                        <li class="option">옵션</li>
                        <li class="cart_price">상품금액</li>
                        <li class="delete">주문/삭제</li>
                    </ul>
					
					<div th:each="c: ${cart_list}">
					<div th:with="seller_code = ${c.seller_code}"></div>
					[[${seller_code}]]
					<span th:text="${seller_code}"></span>
					<span class="seller_name" th:text="${c.seller_name}"></span>
	                    <ul class="cart_ul">
	                        <li class="check"><input type="checkbox" id="pcheck" name="pcheck" th:value="${c.cart_no}"></li>
	                        <li class="pname">
	                            <div class="img_area">
	                                <img th:src="@{${c.route} + ${c.imgrName}}">
	                            </div>
	                            <div class="p_info">
	                                <div id="pname" th:text="${c.p_name}"></div>
	                            </div>
	                        </li>
	                        <li class="price" th:text="${c.p_price}"></li>
	                        <li class="amount">										
	                            <button type="button" id="minus" th:attr="onclick=|minus_amount('${c.cart_no}')|">-</button>
	                            <input type="number" class="numBox" min="1" th:value="${c.cart_amount}" readonly>
	                            <button type="button" id="plus" th:attr="onclick=|plus_amount('${c.cart_amount}', '${c.p_option_no}')|">+</button>
	                        </li>
	                        <li class="option">
	                        	<div class="color" th:text="${c.p_color}"></div>
	                        	<div class="size" th:text="${c.p_size}"></div>
	                        </li>
	                        <li class="cart_price">
	                        	<div class="subtotal" th:text="|${c.subtotal}원|" th:value="${c.subtotal}"></div>
	                        	<div class="delivery_price" th:if="${c.subtotal >= 50000}"><input type="hidden" name= "delivery_price" value="0">배송비 0원</div>
	                        	<div class="delivery_price" th:if="${c.subtotal < 50000}"><input type="hidden" name= "delivery_price" value="2500">배송비 2500원</div>
	                        </li>
	                        <li class="delete">
	                        	<button type="button" id="order" th:attr="onclick=|orderCart('${c.cart_no}', '${c.p_name}')|">주문</button>
	                            <button type="button" id="delete" th:attr="onclick=|deleteCart('${c.cart_no}', '${c.p_name}')|">삭제</button>
	                        </li>
	                    </ul>
                    </div>
                </div>

                <div class="select">
                    <button type="button" id="checkAllBtn">전체선택</button>
                    <button type="button" id="selectDelete">선택삭제</button>
                </div>
            </div>
    
            <div class="result">
                <span>총 주문금액 : </span>
                <span id="total_price"></span>
            </div>
                
            <div class="btn_area">
                <button type="submit" id="order_btn">주문하기</button>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(cart_list) == 0}">
                <div class="null_cart">
                	<img id="null" src="/images/nocart.png">
                	<div>장바구니가 비어있습니다</div>
                </div>
            </th:block>
        </form>
    </div>
    <div th:replace="common/footer.html"></div>
    
    <!-- 체크박스 전체 선택 -->
    <script>
    	function selectAll(selectAll){
    		const checkboxes = document.getElementsByName('pcheck');
    		
    		checkboxes.forEach((checkbox) => {
    			checkbox.checked = selectAll.checked;
    		})
    	}
    </script>
    
    <script>
    	$('#checkAllBtn').on("click", function(){
    		
    		if($('[name=pcheck]').is(":checked") == false){
    			$('[name=pcheck]').prop('checked', true);
    		} else {
    			$('[name=pcheck]').prop('checked', false);
    		}
    	});
    </script>
    
    <!-- 개별 주문 -->
    <script>
    	function orderCart(cart_no, p_name){
    		if(!confirm(p_name + "을(를) 주문하시겠습니까?")) return;
    	}
    </script>
    
    <!-- 개별 삭제 -->
    <script>
    	function deleteCart(cart_no, p_name){
    		if(!confirm(p_name + "을(를) 장바구니에서 삭제하시겠습니까?")) return;
    		
    		var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
			
    		$.ajax({
    			url : "/mypage/deleteCart",
    			type : "post",
    			data : {cart_no:cart_no},
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
				success : function(result){
					if(result > 0) {
						alert("장바구니에서 삭제되었습니다.");
						location.reload();
					} else
						alert("장바구니 삭제에 실패했습니다.");			
				},
				error : function(e){
					console.log(e);
				}
    		});
    	}
    </script>
    
    <!-- 선택 삭제 -->
    <script>
    	$('#selectDelete').on("click", function(){
    		var checkBoxArr = [];
    		$("input:checkbox[name='pcheck']:checked").each(function(){
    			checkBoxArr.push($(this).val());
    			console.log(checkBoxArr);
    		})
    		
    		var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
    		
    		$.ajax({
    			url : "/mypage/selectDelete",
    			type : 'post',
    			data : {'deleteList' : checkBoxArr},
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
				success : function(result){
					if(result > 0) {
						alert("장바구니에서 삭제되었습니다.");
						location.reload();
					} else
						alert("장바구니 삭제에 실패했습니다.");			
				},
				error : function(e){
					console.log(e);
				}
    		});
    	});
    </script>
    
    <!-- 수량 조절 -->
    <script>
    	function minus_amount(cart_no){
    		var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
    		
    		$.ajax({
    			url : "/mypage/minus_amount",
    			type : "post",
    			data : {cart_no:cart_no},
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
				success : function(result){
					if(result > 0) {
						alert("수량조절 성공!");
						location.reload();
					} else
						alert("수량이 0이 될 수 없습니다.");			
				},
				error : function(e){
					console.log(e);
				}
    		});
    	}
    	
    	function plus_amount(cart_no, p_option_no){
    		var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
    		
    		$.ajax({
    			url : "/mypage/plus_amount",
    			type : "post",
    			data : {cart_no:cart_no, p_option_no:p_option_no},
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
				success : function(result){
					if(result > 0) {
						alert("수량조절 성공!");
						location.reload();
					} else
						alert("재고가 부족합니다.");			
				},
				error : function(e){
					console.log(e);
				}
    		});
    	}
    </script>
    
    <!-- 총 주문금액 -->
    <script>
    	$('input:checkbox').on('click', function(){
    		if($(this).prop("checked")){
    			var onePrice = $(this).next().next().next();
    			console.log(onePrice);
    		} else {
    			alert('체크해제');
    		}
    	});
    
    </script>
    
</body>
</html>






