<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/cart.css" rel="stylesheet"></link>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <title>장바구니</title>
</head>
<body>
	<div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
        <div class="title">
            <span>장바구니(<span>3</span>)</span>
        </div>

        <form>
            <div class="cart">
                <div class="cart_list">
                    <ul class="cart_header">
                        <li class="allCheck"><input type="checkbox" id="allCheck" onclick="selectAll(this)"></li>
                        <li class="pname">상품명</li>
                        <li class="price">판매가</li>
                        <li class="amount">수량</li>
                        <li class="option">옵션</li>
                        <li class="delete">삭제</li>
                    </ul>

                    <!-- 반복문으로 리스트 불러오기 --> 
                    <ul class="cart_ul">
                        <li class="check"><input type="checkbox" name="pcheck"></li>
                        <li class="pname">
                            <div class="img_area">
                                <img src="/images/sampleimg1.png">
                            </div>
                            <div class="p_info">
                                <div id="pname">2WAY 스웻 후드 집업</div>
                            </div>
                        </li>
                        <li class="price">39,000</li>
                        <li class="amount">
                            <button type="button" id="minus">-</button>
                            <input type="number" class="numBox" min="1" max="10" value="100" readonly>
                            <button type="button" id="plus">+</button>
                        </li>
                        <li class="option">M</li>
                        <li class="delete">
                            <button type="button" id="delete">삭제</button>
                        </li>
                    </ul>
                </div>

                <div class="select">
                    <button type="button">선택주문</button>
                    <button type="button">선택삭제</button>
                </div>
            </div>
    
            <div class="result">
                <span>총 주문합계 금액 : </span>
                <span id="sum">80,300원</span>
            </div>
            
            <div class="btn_area">
                <button type="submit" id="order_btn">주문하기</button>
            </div>
        </form>
    </div>
    <div th:replace="common/footer.html"></div>
    
        <!-- 체크박스 전체 선택 -->
    <script>
    	function selectAll(selectAll){
    		const checkboxes = document.getElementsByName('pcheck');
    		
    		checkboxes.forEach((checkbox) => {
    			checkbox.checked = selectAll.checked;
    		})
    	}
    </script> 
</body>
</html>