<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/insertReview.css" rel="stylesheet"></head>
	<!-- include libraries(jQuery, bootstrap) -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
	<!-- include summernote css/js-->
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>

    <title>리뷰 작성</title>
</head>
<body>
    <div class="outer">
        <div class="title">리뷰 작성</div>
        <div class="product">
            <img th:src="@{${order_option.product_option.product.imageList[0].route} + ${order_option.product_option.product.imageList[0].imgrName}}">
            <div class="product_info">
                <div id="pname" th:text="${order_option.product_option.product.p_name}"></div>
                <div id="option"th:text="|옵션 : ${order_option.product_option.p_color}, ${order_option.product_option.p_size}|"></div>
            </div>
        </div>
        
        <form id="reviewForm" th:action="@{/mypage/insertReview}" method="post">
	        <div class="content">
	            <div class="title_area">
	                <span>제목</span>
	                <input type="text" id="btitle" required>
	            </div>
	
	            <div class="score">
	                <span>별점</span>
	                <select>
	                    <option>1점</option>
	                    <option>2점</option>
	                    <option>3점</option>
	                    <option>4점</option>
	                    <option>5점</option>
	                </select>
	            </div>
	            
	            <div class="size">
	                <span>사이즈공개</span>
	                <input type="checkbox" id="size_yn">
	                <span id="size_info" th:text="|${m.gender}/${m.height}cm/${m.weight}kg|"></span>
	            </div>
	            
	            <!-- summernote 연결-->
				<div class="container">
					<textarea id="summernote" name="content"></textarea>
				</div>
	        </div>
	
	        <div class="btn_area">
	            <button type="submit">등록</button>
	            <button type="button" onclick="reviewCancle()">취소</button>
	        </div>
        </form>
    </div>
	
	<script>
	$(document).ready(function() {
	     $('#summernote').summernote({
	    	 	 width: 900,
	             height: 300,                
	             minHeight: null,            
	             maxHeight: null,             
	             focus: true  
	     });
	});
	
	function reviewCancle(){
		window.close();
	}
	</script>
</body>
</html>