<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <script>
		const msg = '[[${ msg }]]';
		
		if(msg){
			alert(msg);
		}
	</script>
</head>
<body>
	<h1>메인페이지</h1>
	<th:block sec:authorize="isAuthenticated()">
		<h3><span sec:authentication="principal.username">님</span></h3>
		<button onclick="location.href='/mypage/modify'">마이페이지</button>
		<button onclick="location.href='/member/logout'">로그아웃</button>
	</th:block>
	
	<th:block sec:authorize="isAnonymous()">
			<h3>로그인이 필요한 서비스입니다.</h3>
			<button onclick="location.href='/member/login'">로그인</button>
			<button onclick="location.href='/member/signUp'">회원가입</button>
	</th:block>
</body>
</html>