<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/myBoard.css" rel="stylesheet"></link>
    <link href="/css/common/paging.css" rel="stylesheet" >
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>내가 쓴 글</title>
<body>
    <div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
        <div class="menu">
            <input type="radio" class="selectType" name="selectType" id="pQna" onclick="selectType(event)" value="pQna" checked>
            <label for="pQna" class="radio">상품문의</label>
            <input type="radio" class="selectType" name="selectType" id="reviewList" onclick="selectType(event)" value="reviewList">
            <label for="reviewList" class="radio">리뷰</label>
            <input type="radio" class="selectType" name="selectType" id="qna" onclick="selectType(event)" value="qna">
            <label for="qna" class="radio">1:1 문의</label>
            <input type="radio" class="selectType" name="selectType" id="ex" onclick="selectType(event)" value="ex">
            <label for="ex" class="radio" id="ex_ref">교환/환불</label>
                        
        </div>

        <div class="board_area" id="pQna_List">
            <div class="title">상품문의</div>
	
			<th:block th:if="${#lists.size(p_qna_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_no">글번호</li>
                    <li class="b_category">카테고리</li>
                    <li class="b_title">제목</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>
				
				<div class="qna_area" th:each="p : ${p_qna_list}">
					<ul class="board_content" id="qna_list">
	                    <li class="b_no" th:text="${p.p_i_q_code}"></li>
	                    <li class="b_category" th:text="${p.p_i_cate_name}"></li>
	                    <li class="b_title" th:text="${p.p_i_q_title}"></li>
	                    <li class="b_date" th:text="${#dates.format(p.p_i_q_create_date, 'yyyy-MM-dd')}"></li>
	                    <li class="b_status" th:if="${p.productQnaA != null}" th:text="답변완료"></li>
	                    <li class="b_status" th:unless="${p.productQnaA != null}" th:text="답변대기"></li>
	                </ul>
	                
	                <div class="slide_area">
		                <div class="p_info">
		                	<!-- **상품이름 누르면 상세페이지 이동하기**  -->
		                	<a th:href="@{'/product/view/' + ${p.p_no}}">
		                	<div class="p_name" th:text="|상품명 : ${p.p_name}|" ></div>
		                	</a>
		                </div>
		                
		                <div class="question">
		                	<img class="q_img" src="/images/qnaQ.png">
		                	<div class="q_content">
		                		<textarea th:text="${p.p_i_q_content}" readonly></textarea>
		                		<div class="detail_area">
		                			<div class="q_date"> 
		          
		                			<span th:text="|작성일 ${#dates.format(p.p_i_q_create_date, 'yyyy-MM-dd')}|"></span>
		                			<span th:text="|수정일 ${#dates.format(p.p_i_q_modify_date, 'yyyy-MM-dd')}|"></span>
		                		</div>
		                		</div>
		                	</div>
		                </div>
		                
		                <th:block th:if="${p.productQnaA != null}">
		                <div class="answer">
		                	<img class="a_img" src="/images/qnaA.png">
		                	<div class="a_content">
		                		<textarea th:text="${p.productQnaA.piaContent}" readonly></textarea>
		                		<div class="a_date"> 
		                			<span th:text="|작성일 ${#dates.format(p.productQnaA.piaCreateDate, 'yyyy-MM-dd')}|"></span>
		                		</div>
		                	</div>
		                </div>
		                </th:block>
	                </div>
				</div>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(p_qna_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
            
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(p_qna_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=1)}" th:if="${pi.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/myBoard/(page=${pi.page - 1})}" th:if="${pi.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi.startPage, pi.endPage)}">
	            		<li th:classappend="${pi.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/myBoard/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi.page == pi.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi.page} + 1)}" th:if="${pi.page < pi.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi.page == pi.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi.endPage})}" th:if="${pi.page < pi.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi.page < pi.endPage}"></a>
	                </li>
	            </ul>
            </div>
            
        </div>

        <div class="board_area" id="review_List" style="display: none;">
            <div class="title">리뷰</div>
			
			<th:block th:if="${#lists.size(review_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_no">글번호</li>
                    <li class="b_pname">주문상품</li>
                    <li class="b_title">제목</li>
                    <li class="b_date">등록일</li>
                </ul>

                <ul class="board_content" th:each="r : ${review_list}" th:attr="onclick=|reviewDetail('${r.order_option_code}')|">
                    <li class="b_no" th:text="${r.r_no}"></li>
                    <li class="b_pname" th:text="${r.order_option.product_option.product.p_name}"></li>
                    <li class="b_title" th:text="${r.r_title}"></li>
                    <li class="b_date" th:text="${#dates.format(r.r_create_date, 'yyyy-MM-dd')}"></li>
                </ul>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(review_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
            
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(review_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi2.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=1)}" th:if="${pi2.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi2.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi2.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/myBoard/(page=${pi2.page - 1})}" th:if="${pi2.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi2.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi2.startPage, pi2.endPage)}">
	            		<li th:classappend="${pi2.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/myBoard/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi2.page == pi.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi2.page} + 1)}" th:if="${pi2.page < pi2.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi2.page < pi2.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi2.page == pi2.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi2.endPage})}" th:if="${pi2.page < pi2.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi2.page < pi2.endPage}"></a>
	                </li>
	            </ul>
            </div>
        </div>

        <div class="board_area" id="qna_List" style="display: none;">
            <div class="title">1:1 문의</div>

			<th:block th:if="${#lists.size(q_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_no">글번호</li>
                    <li class="b_category">카테고리</li>
                    <li class="b_title">제목</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>
				
                <ul class="board_content" id="q_list" th:each="q : ${q_list}">
                    <li class="b_no" th:text="${q.p_no}" th:value="${q.p_no}"></li>
                    <li class="b_category" th:text="${q.qc_name}"></li>
                    <li class="b_title" th:text="${q.p_title}"></li>
                    <li class="b_date" th:text="${#dates.format(q.p_enroll_date, 'yyyy-MM-dd')}"></li>
                    <li class="b_status" th:if="${q.p_answer != null}" th:text="답변완료"></li>
                    <li class="b_status" th:if="${q.p_answer == null}" th:text="답변대기"></li>
                </ul>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(q_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
           
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(q_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi3.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=1)}" th:if="${pi3.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi3.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi3.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/myBoard/(page=${pi3.page - 1})}" th:if="${pi3.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi3.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi3.startPage, pi3.endPage)}">
	            		<li th:classappend="${pi3.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/myBoard/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi3.page == pi.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi3.page} + 1)}" th:if="${pi3.page < pi3.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi3.page < pi3.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi3.page == pi3.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi3.endPage})}" th:if="${pi3.page < pi3.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi3.page < pi3.endPage}"></a>
	                </li>
	            </ul>
            </div>
            
        </div>

        <div class="board_area" id="ex_List" style="display: none;">
             <input type="radio" class="selectType" name="selectType" id="ex" onclick="selectType(event)" value="ex">
             <label for="ex" class="radio">교환내역</label>
             <input type="radio" class="selectType" name="selectType" id="ref" onclick="selectType(event)" value="ref">
             <label for="ref" class="radio">/ 환불내역</label>

			<th:block th:if="${#lists.size(ex_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_orderno">글번호</li>
                    <li class="b_pname">상품명</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>

                <ul class="board_content" th:each="ex : ${ ex_list }" th:attr="onclick=|exchangeDetail('${ex.order_option_code}')|">
                    <li class="b_orderno" th:text="${ ex.ex_no }"></li>
                    <li class="b_pname" th:text="${ ex.p_name }" ></li>
                    <li class="b_date" th:text="${#dates.format(ex.ex_date, 'yyyy-MM-dd')}"></li>
                    <li class="b_status" th:if="${ex.ex_status == 'N'}" th:text="교환요청"></li>
                    <li class="b_status" th:if="${ex.ex_status == 'Y'}" th:text="교환완료"></li>
                </ul>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(ex_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
            
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(ex_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi4.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=1)}" th:if="${pi4.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi4.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi4.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/myBoard/(page=${pi4.page - 1})}" th:if="${pi4.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi4.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi4.startPage, pi4.endPage)}">
	            		<li th:classappend="${pi4.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/myBoard/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi4.page == pi.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi4.page} + 1)}" th:if="${pi4.page < pi4.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi4.page < pi4.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi4.page == pi4.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi4.endPage})}" th:if="${pi4.page < pi4.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi4.page < pi4.endPage}"></a>
	                </li>
	            </ul>
            </div>
         </div>
         
 		 <div class="board_area" id="ref_List" style="display: none;">
            <input type="radio" class="selectType" name="selectType" id="ex" onclick="selectType(event)" value="ex">
            <label for="ex" class="radio">교환내역</label>
            <input type="radio" class="selectType" name="selectType" id="ref" onclick="selectType(event)" value="ref">
            <label for="ref" class="radio">/ 환불내역</label>

			<th:block th:if="${#lists.size(r_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_orderno">글번호</li>
                    <li class="b_pname">상품명</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>

                <ul class="board_content" th:each="r : ${ r_list }" th:attr="onclick=|refundDetail('${r.order_option_code}')|">
                    <li class="b_orderno" th:text="${ r.ref_no }"></li>
                    <li class="b_pname" th:text="${ r.p_name }"></li>
                    <li class="b_date" th:text="${#dates.format(r.ref_date, 'yyyy-MM-dd')}"></li>
                    <li class="b_status" th:if="${ r.ref_status == 'N'}" th:text="환불요청"></li>
                    <li class="b_status" th:if="${ r.ref_status == 'Y'}" th:text="환불완료"></li>
                </ul>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(r_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
            
            <!-- 페이징 -->
            <div class="pagaing_wrap" th:if="${#lists.size(r_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi5.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=1)}" th:if="${pi5.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi5.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi5.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/myBoard/(page=${pi5.page - 1})}" th:if="${pi5.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi5.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi5.startPage, pi5.endPage)}">
	            		<li th:classappend="${pi5.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/myBoard/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi5.page == pi.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi5.page} + 1)}" th:if="${pi5.page < pi5.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi5.page < pi5.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi5.page == pi5.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/myBoard/(page=${pi5.endPage})}" th:if="${pi5.page < pi5.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi5.page < pi5.endPage}"></a>
	                </li>
	            </ul>
            </div>
         </div>
         
         
    </div>
	<div th:replace="common/footer.html"></div>

    <script>
        function selectType(e)  {
            var type = e.target.value;
            
            console.log(e);
            if(type == 'pQna'){
                $('#pQna_List').show();
                $("#review_List").hide();
                $("#qna_List").hide();
                $("#ex_List").hide();
                $("#ref_List").hide();
            } else if(type == 'reviewList'){
                $('#pQna_List').hide();
                $("#review_List").show();
                $("#qna_List").hide();
                $("#ex_List").hide();
                $("#ref_List").hide();
            }  else if(type =='qna') {
                $('#pQna_List').hide();
                $("#review_List").hide();
                $("#qna_List").show();
                $("#ex_List").hide();
                $("#ref_List").hide();
            } else if(type == 'ex'){
                $('#pQna_List').hide();
                $("#review_List").hide();
                $("#qna_List").hide();
                $("#ex_List").show();
                $("#ref_List").hide();
            } else {
                $('#pQna_List').hide();
                $("#review_List").hide();
                $("#qna_List").hide();
                $("#ex_List").hide();
                $("#ref_List").show();
                $('#ex_ref').attr('style', 'border-bottom: 1px solid black');
            }
        }
    </script>
    
    <!-- 게시글 리스트 마우스오버 이벤트 -->
    <script>
        const boardlist = document.querySelectorAll(".board_list");

        for(var i = 0; i < boardlist.length; i++) {
            var item = boardlist.item(i);

            item.addEventListener('mouseover', function(){

            if(event.target.classList.contains('board_content'))
            event.target.classList.add('onmouseover');
            else if(event.target.parentNode.classList.contains('board_content'))
            event.target.parentNode.classList.add('onmouseover');
            });

            item.addEventListener('mouseout', function(){
            
            if(event.target.classList.contains('board_content'))
            event.target.classList.remove('onmouseover');
            else if(event.target.parentNode.classList.contains('board_content'))
            event.target.parentNode.classList.remove('onmouseover');
            });   
        }
    </script>
    
    <!-- 게시글 클릭 시 슬라이드 -->
    <script>
    	$(document).on('click', '#qna_list', function(){
    		if($(this).next().css('display') == 'none'){
    			$(this).next().slideUp();
    			$(this).next().slideDown();
    		} else {
    			$(this).next().slideUp();
    		}
    	});
    </script>
    
    <!-- 리뷰확인 새창 -->
    <script>
    	function reviewDetail(p_order_option_code){
    		var order_option_code = p_order_option_code;
			var popupWidth = 900;
			var popupHeight = 650;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/reviewDetail/" +order_option_code, "리뷰 상세", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
    	}
    </script>
    
    <!-- 1:1문의 상세페이지 이동 -->
    <script>
    	$(document).on('click', '#q_list', function(){
	   		var p_no = $(this).children('li:eq(0)').val();
	   		location.href="/CScenter/personalQ/detail?p_no="+p_no;
	    });
    </script>
    
    <!-- 환불 상세 (새창) -->
    <script>
		function refundDetail(p_order_option_code){
			var order_option_code = p_order_option_code;
			var popupWidth = 900;
			var popupHeight = 650;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/refundDetail/" +order_option_code, "환불요청 내역", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		}
    </script>
    
    <!-- 교환 상세 (새창) -->
    <script>
		function exchangeDetail(order_option_code){
			var order_option_code = order_option_code;
			var popupWidth = 900;
			var popupHeight = 650;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/mypage/exchangeDetail/" +order_option_code, "교환요청 내역", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		}
    </script>
</body>
</head>