<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/myBoard.css" rel="stylesheet"></link>
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>내가 쓴 글</title>
<body>
    <div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
        <div class="menu">
            <input type="radio" class="selectType" name="selectType" id="pQna" onclick="selectType(event)" value="pQna" checked>
            <label for="pQna" class="radio">상품문의</label>
            <input type="radio" class="selectType" name="selectType" id="reviewList" onclick="selectType(event)" value="reviewList">
            <label for="reviewList" class="radio">리뷰</label>
            <input type="radio" class="selectType" name="selectType" id="qna" onclick="selectType(event)" value="qna">
            <label for="qna" class="radio">1:1 문의</label>
            <input type="radio" class="selectType" name="selectType" id="ex_ref" onclick="selectType(event)" value="ex_ref">
            <label for="ex_ref" class="radio">교환/환불</label>
            
        </div>

        <div class="board_area" id="pQna_List">
            <div class="title">상품문의</div>
	
			<th:block th:if="${#lists.size(p_qna_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_no">글번호</li>
                    <li class="b_category">카테고리</li>
                    <li class="b_title">제목</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>
				
				<div class="qna_area" th:each="p : ${p_qna_list}">
					<ul class="board_content">
	                    <li class="b_no" th:text="${p.p_i_q_code}"></li>
	                    <li class="b_category" th:text="${p.p_i_cate_name}"></li>
	                    <li class="b_title" th:text="${p.p_i_q_title}"></li>
	                    <li class="b_date" th:text="${#dates.format(p.p_i_q_create_date, 'yyyy-MM-dd')}"></li>
	                    <li class="b_status" th:if="${p.productQnaA != null}" th:text="답변완료"></li>
	                    <li class="b_status" th:unless="${p.productQnaA != null}" th:text="답변대기"></li>
	                </ul>
	                
	                <div class="slide_area">
		                <div class="p_info">
		                	<!-- **상품이름 누르면 상세페이지 이동하기**  -->
		                	<div class="p_name" th:text="|상품명 : ${p.p_name}|"></div>
		                </div>
		                
		                <div class="question">
		                	<img class="q_img" src="/images/qnaQ.png">
		                	<div class="q_content">
		                		<textarea th:text="${p.p_i_q_content}" readonly></textarea>
		                		<div class="q_date"> 
		                			<span th:text="|작성일 ${#dates.format(p.p_i_q_create_date, 'yyyy-MM-dd')}|"></span>
		                			<span th:text="|수정일 ${#dates.format(p.p_i_q_modify_date, 'yyyy-MM-dd')}|"></span>
		                		</div>
		                	</div>
		                </div>
		                
		                <th:block th:if="${p.productQnaA != null}">
		                <div class="answer">
		                	<img class="a_img" src="/images/qnaA.png">
		                	<div class="a_content">
		                		<textarea th:text="${p.productQnaA.piaContent}" readonly></textarea>
		                		<div class="a_date"> 
		                			<span th:text="|작성일 ${#dates.format(p.productQnaA.piaCreateDate, 'yyyy-MM-dd')}|"></span>
		                		</div>
		                	</div>
		                </div>
		                </th:block>
	                </div>
				</div>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(p_qna_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
        </div>

        <div class="board_area" id="review_List" style="display: none;">
            <div class="title">리뷰</div>
			
			<th:block th:if="${#lists.size(review_list) > 0}">
            <div class="board_list">
                <ul class="board_header">
                    <li class="b_no">글번호</li>
                    <li class="b_pname">주문상품</li>
                    <li class="b_title">제목</li>
                    <li class="b_date">등록일</li>
                </ul>

                <ul class="board_content" th:each="r : ${review_list}" th:attr="onclick=|reviewDetail('${r.order_option_code}')|">
                    <li class="b_no" th:text="${r.r_no}"></li>
                    <li class="b_pname" th:text="${r.order_option.product_option.product.p_name}"></li>
                    <li class="b_title" th:text="${r.r_title}"></li>
                    <li class="b_date" th:text="${#dates.format(r.r_create_date, 'yyyy-MM-dd')}"></li>
                </ul>
            </div>
            </th:block>
            <th:block th:if="${#lists.size(review_list) == 0}">
            	<div class="null_list">
            		<img id="null" src="/images/nolist.png">
            		<div>작성한 글이 없습니다.</div>
            	</div>
            </th:block>
        </div>

        <div class="board_area" id="qna_List" style="display: none;">
            <div class="title">1:1 문의</div>

            <div class="board_list">
                <ul class="board_header">
                    <li class="b_no">글번호</li>
                    <li class="b_category">카테고리</li>
                    <li class="b_title">제목</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>

                <ul class="board_content" >
                    <li class="b_no"></li>
                    <li class="b_category"></li>
                    <li class="b_title"></li>
                    <li class="b_date"></li>
                    <li class="b_status"></li>
                </ul>
            </div>
        </div>

        <div class="board_area" id="ex_ref_List" style="display: none;">
            <div class="title">교환내역</div>

            <div class="board_list">
                <ul class="board_header">
                    <li class="b_orderno">주문번호</li>
                    <li class="b_pname">상품명</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>

                <ul class="board_content">
                    <li class="b_orderno"></li>
                    <li class="b_pname"></li>
                    <li class="b_date"></li>
                    <li class="b_status"></li>
                </ul>
            </div>

            <div class="title refund">환불내역</div>

            <div class="board_list">
                <ul class="board_header">
                    <li class="b_orderno">주문번호</li>
                    <li class="b_pname">상품명</li>
                    <li class="b_date">등록일</li>
                    <li class="b_status">상태</li>
                </ul>

                <ul class="board_content">
                    <li class="b_orderno"></li>
                    <li class="b_pname"></li>
                    <li class="b_date"></li>
                    <li class="b_status"></li>
                </ul>
            </div>
        </div>
    </div>
	<div th:replace="common/footer.html"></div>

    <script>
        function selectType(e)  {
            var type = e.target.value;
            
            console.log(e);
            if(type == 'pQna'){
                $('#pQna_List').show();
                $("#review_List").hide();
                $("#qna_List").hide();
                $("#ex_ref_List").hide();
            } else if(type == 'reviewList'){
                $('#pQna_List').hide();
                $("#review_List").show();
                $("#qna_List").hide();
                $("#ex_ref_List").hide();
            }  else if(type =='qna') {
                $('#pQna_List').hide();
                $("#review_List").hide();
                $("#qna_List").show();
                $("#ex_ref_List").hide();
            } else {
                $('#pQna_List').hide();
                $("#review_List").hide();
                $("#qna_List").hide();
                $("#ex_ref_List").show();
            }
        }
    </script>
    
    <!-- 게시글 리스트 마우스오버 이벤트 -->
    <script>
        const boardlist = document.querySelectorAll(".board_list");

        for(var i = 0; i < boardlist.length; i++) {
            var item = boardlist.item(i);

            item.addEventListener('mouseover', function(){

            if(event.target.classList.contains('board_content'))
            event.target.classList.add('onmouseover');
            else if(event.target.parentNode.classList.contains('board_content'))
            event.target.parentNode.classList.add('onmouseover');
            });

            item.addEventListener('mouseout', function(){
            
            if(event.target.classList.contains('board_content'))
            event.target.classList.remove('onmouseover');
            else if(event.target.parentNode.classList.contains('board_content'))
            event.target.parentNode.classList.remove('onmouseover');
            });   
        }
    </script>
    
    <!-- 게시글 클릭 시 슬라이드 -->
    <script>
    	$(document).on('click', '.board_content', function(){
    		if($(this).next().css('display') == 'none'){
    			$(this).next().slideUp();
    			$(this).next().slideDown();
    		} else {
    			$(this).next().slideUp();
    		}
    	});
    </script>
    
</body>
</head>