<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/reviewDetail.css" rel="stylesheet"></head>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
    <title>리뷰 상세페이지</title>
</head>
<body>
    <div class="outer">
        <div class="title">리뷰 상세페이지</div>
        <div class="product">
            <img th:src="@{${r.order_option.product_option.product.imageList[0].route} + ${r.order_option.product_option.product.imageList[0].imgrName}}">
            <div class="product_info">
                <div id="pname" th:text="${r.order_option.product_option.product.p_name}"></div>
                <div id="option" th:text="|옵션 : ${r.order_option.product_option.p_color}, ${r.order_option.product_option.p_size}|">>옵션 : M</div>
            </div>
        </div>
        <div class="like_cnt">
            <span th:text="|좋아요 ${r.like_cnt}|"></span>
        </div>
		
		<form id="reviewForm">
	        <div class="content">
	            <div class="title_date_area">
	                <div class="title_area">
	                    <span>제목</span>
	                    <span class="btitle" th:text="${r.r_title}"></span>
	                </div>
	                
	                <div class="date_area">
	                    <div class="create_date">
	                        <span>작성일 |</span>
	                        <span id="c_date" th:text="${#dates.format(r.r_create_date, 'yyyy-MM-dd')}"></span>
	                    </div>
	    
	                    <div class="modify_date">
	                        <span>수정일 |</span>
	                        <span id="m_date" th:text="${#dates.format(r.r_modify_date, 'yyyy-MM-dd')}"></span>
	                    </div>
	                </div>
	            </div>
	
	            <div class="score">
	                <span>별점</span>
	                <img src="/images/star_yes.png"> 
	                <th:block th:if="${r.score >= 2}"><img src="/images/star_yes.png"></th:block>
	                <th:block th:if="${r.score >= 3}"><img src="/images/star_yes.png"></th:block>
	                <th:block th:if="${r.score >= 4}"><img src="/images/star_yes.png"></th:block>
	                <th:block th:if="${r.score == 5}"><img src="/images/star_yes.png"></th:block>  
	            </div>
	            
	            <th:block th:if="${r.open_size == 'Y'}">
	            <div class="size">
	                <span>사이즈</span>
	                <span id="size_info">남/180cm/75kg</span>
	            </div>
	            </th:block>
	            
				<div class="container">
					<div id="content" th:utext="${r.r_content}"></div>
				</div>
	
	        </div>
	
	        <div class="btn_area">
	            <button type="submit" id="modify">수정</button>
	            <button type="button" id="delete">삭제</button>
	            <button type="button" id="close">닫기</button>
	        </div>
	   </form>
    </div>    
    
    <!-- 리뷰 수정 -->
    <script>
    	$(function(){
    		$(document).on("click", "#modify", function(){
    			alert("수정 기능");
    		});
    	});
    </script>
    <!-- 리뷰 삭제 -->
    <script>
    	$(function(){
    		$(document).on("click", "#delete", function(){
    			alert("삭제 기능");
    		});
    	});
    </script>
    <!-- 창 닫기 -->
    <script>
    	$(function(){
    		$(document).on("click", "#close", function(){
    			window.close();
    		});
    	});
    </script>
</body>
</html>