<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/sideMenu.css" rel="stylesheet"></link>
    <title>사이드메뉴</title>
</head>
<body>
    <div class="sideMenu">
        <ul class="menuList">
            <li><a href="/mypage/modify">&nbsp;&nbsp;회원정보&nbsp;&nbsp;</a></li>
            <li><a href="/mypage/orderList">&nbsp;&nbsp;주문내역&nbsp;&nbsp;</a></li>
            <li><a href="/mypage/cart">&nbsp;&nbsp;장바구니&nbsp;&nbsp;</a></li>
            <li><a href="/mypage/wishlist">&nbsp;&nbsp;위시리스트&nbsp;&nbsp;</a></li>
            <li><a href="/mypage/point_coupon">&nbsp;&nbsp;적립금/쿠폰&nbsp;&nbsp;</a></li>
            <li><a href="/mypage/myBoard">&nbsp;&nbsp;내가 쓴 글&nbsp;&nbsp;</a></li>
        </ul>
    </div>
</body>
</html>