<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/sideMenu.css" rel="stylesheet"></link>
    <title>사이드메뉴</title>
</head>
<body>
    <div class="sideMenu">
        <ul class="menuList">
            <li><a class="side" href="/mypage/modify">회원정보</a></li>
            <li><a class="side" href="/mypage/orderList">주문내역</a></li>
            <li><a class="side" href="/mypage/cart">장바구니</a></li>
            <li><a class="side" href="/mypage/wishlist">위시리스트</a></li>
            <li><a class="side" href="/mypage/point">적립금</a></li>
            <li><a class="side" href="/mypage/myBoard">내가 쓴 글</a></li>
        </ul>
    </div>
</body>
</html>