<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/wishlist.css" rel="stylesheet"></link>
    <link href="/css/common/paging.css" rel="stylesheet" >
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>위시리스트</title>
</head>
<body>
    <div th:replace="common/header.html"></div>
	<div th:replace="mypage/sideMenu.html"></div>
    <div class="outer">
        <div class="title">
            <span>위시리스트</span><br>
            <input type="radio" class="selectType" name="selectType" id="outer" onclick="selectType(event)" value="outer" checked>
            <label for="outer">아우터</label>
            <input type="radio" class="selectType" name="selectType" id="top_product" onclick="selectType(event)" value="top_product">
            <label for="top_product">상의</label>
            <input type="radio" class="selectType" name="selectType" id="bottom" onclick="selectType(event)" value="bottom">
            <label for="bottom">하의</label>
            <input type="radio" class="selectType" name="selectType" id="acc" onclick="selectType(event)" value="acc">
            <label for="acc">ACC</label>
        </div>
		<div id="wrap_outer">
			<div class="outer_div" id="outerWishList">
	        	<th:block th:if="${outer_list != null}">
	            <ul class="wish_list" th:each="outer : ${outer_list.product_list}">
	                <li>
	                    <div class="product">
	                    	<div class="product_in">
		                   		<a th:href="@{'/product/view/' + ${outer.p_no}}">
		                        <img th:src="@{${outer.imageList[0].route} + ${outer.imageList[0].imgrName}}">
		                        </a>
		                        <div class="p_info">
		                        <a th:href="@{'/product/view/' + ${outer.p_no}}">
		                            <div class="name" th:text="${outer.p_name}"></div>
		                            <div class="price" th:text="|${outer.p_price}원|"></div>
		                        </a>
		                        </div>
	                        </div>
	                        <button type="button" id="delete" th:value="${outer.p_no}">삭제</button>
	                    </div>
	                </li>
	            </ul>
	            </th:block>
	            <th:block th:if="${outer_list == null}">
	            	<div class="null">
	            	    <img class="nowish" src="/images/nowish.png"><br>
	            		<span>위시리스트에 담긴 상품이 없습니다.</span>
	            	</div>
	            </th:block>
	        </div>
	        
        	<!-- 페이징 -->
        	<th:block th:if="${outer_list != null}">
            <div class="pagaing_wrap" th:if="${#lists.size(outer_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi1.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=1)}" th:if="${pi1.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi1.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi1.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/wishlist/(page=${pi1.page - 1})}" th:if="${pi1.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi1.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi1.startPage, pi1.endPage)}">
	            		<li th:classappend="${pi1.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/wishlist/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi1.page == pi1.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi1.page} + 1)}" th:if="${pi1.page < pi1.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi1.page < pi1.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi1.page == pi1.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi1.endPage})}" th:if="${pi1.page < pi1.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi1.page < pi1.endPage}"></a>
	                </li>
	            </ul>
            </div>
            </th:block>
		</div>
        
		<div id="wrap_top" style="display: none;">
	        <div class="top_div" id="topWishList">
	        	<th:block th:if="${top_list != null}">
	            <ul class="wish_list" th:each="top : ${top_list.product_list}">
	                <li>
	                    <div class="product">
	                   		<div class="product_in">
		                    	<a th:href="@{'/product/view/' + ${top.p_no}}">
		                        <img th:src="@{${top.imageList[0].route} + ${top.imageList[0].imgrName}}">
		                        </a>
		                        <div class="p_info">
		                        <a th:href="@{'/product/view/' + ${top.p_no}}">
		                            <div class="name" th:text="${top.p_name}"></div>
		                            <div class="price" th:text="|${top.p_price}원|"></div>
		                        </a>
		                        </div>
	                        </div>
	                        <button type="button" id="delete" th:value="${top.p_no}">삭제</button>
	                    </div>
	                </li>
	            </ul>
	            </th:block>
	            <th:block th:if="${top_list == null}">
	            	<div class="null">
	            	    <img class="nowish" src="/images/nowish.png"><br>
	            		<span>위시리스트에 담긴 상품이 없습니다.</span>
	            	</div>
	            </th:block>
	        </div>
	        
	        <!-- 페이징 -->
	        <th:block th:if="${top_list != null}">
            <div class="pagaing_wrap" th:if="${#lists.size(top_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi2.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=1)}" th:if="${pi2.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi2.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi2.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/wishlist/(page=${pi2.page - 1})}" th:if="${pi2.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi2.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi2.startPage, pi2.endPage)}">
	            		<li th:classappend="${pi2.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/wishlist/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi2.page == pi2.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi2.page} + 1)}" th:if="${pi2.page < pi2.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi2.page < pi2.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi2.page == pi2.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi2.endPage})}" th:if="${pi2.page < pi2.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi2.page < pi2.endPage}"></a>
	                </li>
	            </ul>
            </div>
            </th:block>
	        
	    </div>

		<div id="wrap_bottom" style="display: none;">
	        <div class="bottom_div" id="bottomWishList">
	        	<th:block th:if="${bottom_list != null}">
	            <ul class="wish_list" th:each="bottom : ${bottom_list.product_list}">
	                <li>
	                    <div class="product">
	                    	<div class="product_in">
		                        <a th:href="@{'/product/view/' + ${bottom.p_no}}">
		                        <img th:src="@{${bottom.imageList[0].route} + ${bottom.imageList[0].imgrName}}">
		                        </a>
		                        <div class="p_info">
		                        <a th:href="@{'/product/view/' + ${bottom.p_no}}">
		                            <div class="name" th:text="${bottom.p_name}"></div>
		                            <div class="price" th:text="|${bottom.p_price}원|"></div>
		                        </a>
		                        </div>
		                    </div>
	                        <button type="button" id="delete" th:value="${bottom.p_no}">삭제</button>
	                    </div>
	                </li>
	            </ul>
	            </th:block>
	            <th:block th:if="${bottom_list == null}">
	            	<div class="null">
	            	    <img class="nowish" src="/images/nowish.png"><br>
	            		<span>위시리스트에 담긴 상품이 없습니다.</span>
	            	</div>
	            </th:block>
	        </div>
	        
	        <!-- 페이징 -->
            <th:block th:if="${bottom_list != null}">
            <div class="pagaing_wrap" th:if="${#lists.size(bottom_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi3.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=1)}" th:if="${pi3.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi3.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi3.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/wishlist/(page=${pi3.page - 1})}" th:if="${pi3.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi3.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi3.startPage, pi3.endPage)}">
	            		<li th:classappend="${pi3.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/wishlist/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi3.page == pi3.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi3.page} + 1)}" th:if="${pi3.page < pi3.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi3.page < pi3.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi3.page == pi3.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi3.endPage})}" th:if="${pi3.page < pi3.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi3.page < pi3.endPage}"></a>
	                </li>
	            </ul>
            </div>
            </th:block>
	    </div>

		<div id="wrap_acc" style="display: none;">
	        <div class="acc_div" id="accWishList">
	        	<th:block th:if="${acc_list != null}">
	            <ul class="wish_list" th:each="acc : ${acc_list.product_list}">
	                <li>	
	                    <div class="product" >
	                    	<div class="product_in">
		                        <a th:href="@{'/product/view/' + ${acc.p_no}}">
		                        <img th:src="@{${acc.imageList[0].route} + ${acc.imageList[0].imgrName}}">
		                        </a>
		                        <div class="p_info">
		                        <a th:href="@{'/product/view/' + ${acc.p_no}}">
		                            <div class="name" th:text="${acc.p_name}"></div>
		                            <div class="price" th:text="|${acc.p_price}원|"></div>
		                        </a>
		                        </div>
		                    </div>
	                        <button type="button" id="delete" th:value="${acc.p_no}">삭제</button>
	                    </div>
	                </li>
	            </ul>
	            </th:block>
	            <th:block th:if="${acc_list == null}">
	            	<div class="null">
	            	    <img class="nowish" src="/images/nowish.png"><br>
	            		<span>위시리스트에 담긴 상품이 없습니다.</span>
	            	</div>
	            </th:block>
	        </div>
	        
	        <!-- 페이징 -->
	        <th:block th:if="${acc_list != null}">
            <div class="pagaing_wrap" th:if="${#lists.size(acc_list) > 0}">
	            <ul class="pagaing_left">
	                <li class="allPrev" th:classappend="${pi4.page == 1} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=1)}" th:if="${pi4.page > 1}"></a>
	                 <a href="javascript:;" th:unless="${pi4.page > 1}"></a>
	                </li>
	                <li class="prev" th:classappend="${pi4.page == 1} ? 'hide'">
	                 <a th:href="@{/mypage/wishlist/(page=${pi4.page - 1})}" th:if="${pi4.page > 1}"></a>
	                	<a href="javascript:;" th:unless="${pi4.page > 1}"></a>
	                </li>
	            </ul>
	            
	            <ul class="pagaing_num">
	            	<th:block th:each="pd : ${#numbers.sequence(pi4.startPage, pi4.endPage)}">
	            		<li th:classappend="${pi4.page == pdStat.current} ? 'on'">
	            			<a th:href="@{/mypage/wishlist/(page=${pdStat.current})}" th:text="${pdStat.current}"></a>
	            		</li>
	            	</th:block>
	                
	            </ul>
	
	            <ul class="pagaing_right" >
	                <li class="next" th:classappend="${pi4.page == pi4.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi4.page} + 1)}" th:if="${pi4.page < pi4.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi4.page < pi4.endPage}"></a>
	                </li>
	                <li class="allNext"  th:classappend="${pi4.page == pi4.endPage} ? 'hide'">
	                	<a th:href="@{/mypage/wishlist/(page=${pi4.endPage})}" th:if="${pi4.page < pi4.endPage}"></a>
	                	<a href="javascript:;" th:unless="${pi4.page < pi4.endPage}"></a>
	                </li>
	            </ul>
            </div>
            </th:block>
	     </div>																	
    </div>
	<div th:replace="common/footer.html"></div>

	<!-- 카테고리 전환 -->
    <script>
        function selectType(e)  {
            var type = e.target.value;
            
            console.log(e);
            if(type == 'outer'){
                $('#wrap_outer').show();
                $("#wrap_top").hide();
                $("#wrap_bottom").hide();
                $("#wrap_acc").hide();
            } else if(type == 'top_product'){
                $('#wrap_outer').hide();
                $("#wrap_top").show();
                $("#wrap_bottom").hide();
                $("#wrap_acc").hide();
            } else if(type == 'bottom'){
                $('#wrap_outer').hide();
                $("#wrap_top").hide();
                $("#wrap_bottom").show();
                $("#wrap_acc").hide(); 
            } else {
                $('#wrap_outer').hide();
                $("#wrap_top").hide();
                $("#wrap_bottom").hide();
                $("#wrap_acc").show(); 
            }
        }
    </script>
    
    <!-- 위시리스트 삭제 -->
    <script>
    	$(function(){
    		$(document).on("click", '#delete', function(){
    			if(!confirm("위시리스트에서 삭제하시겠습니까?")) return;
    			var p_no = $(this).val();
        		var token = $("meta[name='_csrf']").attr("content");
        		var header = $("meta[name='_csrf_header']").attr("content"); 
    			
    			$.ajax({
    				url : "/mypage/deleteWish",
    				type : "post",
    				data : {p_no:p_no},  
    				/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
    				beforeSend : function(xhr)		
    				{
    					xhr.setRequestHeader(header, token);    					
    				},
    				success : function(result){
    					if(result > 0) {
    						alert("위시리스트에서 삭제되었습니다.");
    						location.reload();
    				}	else 
    						alert("위시리스트 삭제에 실패했습니다.");
    				},
    				error : function(e){
    					console.log(e);
    				}
    			});
    		});    		
    	});
    </script>
</body>
</html>









