<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.CScenter.model.dao.FAQMapper">

	<resultMap type="com.kh.clendy.CScenter.model.vo.FAQ" id="FAQResultMap">
		<id property="q_no" column="Q_NO"/>
		<result property="q_title" column="Q_TITLE"/>
		<result property="q_answer" column="Q_ANSWER"/>
		<result property="q_enroll_date" column="Q_ENROLL_DATE"/>
		<result property="q_modify_date" column="Q_MODIFY_DATE"/>
		<result property="qc_no" column="QC_NO"/>
		<result property="qc_name" column="QC_NAME"/>
		<result property="user_no" column="USER_NO"/>
	</resultMap>
	<resultMap type="com.kh.clendy.CScenter.model.vo.QCategory" id="QCategoryResultMap">
		<id property="qc_no" column="QC_NO"/>
		<result property="qc_name" column="QC_NAME"/>
	</resultMap>
	
	<!-- faq 전체 조회 -->
	<select id="selectAllFAQ" resultMap="FAQResultMap">
		SELECT
				Q_NO
			  , Q_TITLE
			  ,	Q_ANSWER
			  , Q_ENROLL_DATE
			  , Q_MODIFY_DATE
			  , F.QC_NO
			  , QC_NAME
			  , USER_NO
		 FROM FAQ F, Q_CATEGORY Q
        WHERE F.QC_NO = Q.QC_NO 
	</select>
	
	<!-- faq 카테고리 별 조회 -->
	<select id="selectFAQByCategory" parameterType="_int" resultMap="FAQResultMap">
		SELECT
				Q_NO
			  , Q_TITLE
			  ,	Q_ANSWER
			  , Q_ENROLL_DATE
			  , Q_MODIFY_DATE
			  , f.QC_NO
			  , QC_NAME
			  , USER_NO
		 FROM FAQ F, Q_CATEGORY Q
        WHERE F.QC_NO = Q.QC_NO
          AND Q.qc_no = #{categoryCode}
	</select>
	
	<!-- 키워드 검색 -->
	<select id="searchFAQ" parameterType="String" resultMap="FAQResultMap">
		SELECT
				Q_NO
			  , Q_TITLE
			  ,	Q_ANSWER
			  , Q_ENROLL_DATE
			  , Q_MODIFY_DATE
			  , Q.QC_NO
			  , QC_NAME
			  , USER_NO
		 FROM FAQ Q, Q_CATEGORY C
        WHERE Q_TITLE LIKE '%' || #{keyword} || '%'
           OR Q_ANSWER LIKE '%' || #{keyword} || '%' 
	</select>
	
	<!-- faq 등록 -->
	<insert id="insertFAQ" parameterType="com.kh.clendy.CScenter.model.vo.FAQ">
		INSERT 
		INTO FAQ
		(
			Q_NO
		  , Q_TITLE
		  , Q_ANSWER
		  , Q_ENROLL_DATE
		  , Q_MODIFY_DATE
		  , QC_NO
		  , USER_NO
		)
		VALUES (
			SEQ_Q_NO.NEXTVAL
		  ,	#{q_title}
		  , #{q_answer}
		  , SYSDATE
		  , NULL
		  , #{qc_no}
		  , #{user_no}
		)
	</insert>
	
	<!-- faq 수정 -->
	<update id="updateFAQ" parameterType="com.kh.clendy.CScenter.model.vo.FAQ">
	UPDATE FAQ
	   SET 
	  	  Q_TITLE = #{q_title}
		, Q_ANSWER = #{q_answer}
		, Q_MODIFY_DATE = SYSDATE
    WHERE Q_NO = #{q_no} 	
	</update>
	
	<!-- faq 삭제 -->
	<delete id="deleteFAQ" parameterType="_int">
	DELETE 
	  FROM FAQ
	 WHERE Q_NO = #{q_no} 
	</delete>
	
</mapper>