<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.mypage.model.dao.MypageMapper">
	<resultMap type="com.kh.clendy.member.model.vo.Member" id="loginMemberResultMap">
		<id property="user_no" column="USER_NO"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="user_name" column="USER_NAME"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="gender" column="GENDER"/>
		<result property="height" column="HEIGHT"/>
		<result property="weight" column="WEIGHT"/>
		<result property="sign_date" column="SIGN_DATE"/>
		<result property="modify_date" column="MODIFY_DATE"/>
		<result property="user_status" column="USER_STATUS"/>
		<result property="temp_pwd_yn" column="TEMP_PWD_YN"/>
		<collection property="memberRoleList" resultMap="memberRoleResultMap"/>
	</resultMap>
	
	<resultMap type="com.kh.clendy.member.model.vo.MemberRole" id="memberRoleResultMap">
		<id property="user_no" column="REF_USER_NO"/>
		<id property="auth_code" column="REF_AUTH_CODE"/>
		<association property="authority" resultMap="authorityResultMap"/>
	</resultMap>
	
	<resultMap type="com.kh.clendy.member.model.vo.Authority" id="authorityResultMap">
		<id property="auth_code" column="REF_AUTHORITY_CODE2"/>
		<result property="auth_name" column="AUTH_NAME"/>
		<result property="auth_desc" column="AUTH_DESC"/>	
	</resultMap>
	
	<!-- point -->
	<resultMap type="com.kh.clendy.mypage.model.vo.Point" id="pointResultMap">
		<id property="point_no" column="POINT_NO"/>
		<result property="order_code" column="ORDER_CODE"/>
		<result property="point_code" column="POINT_CODE"/>
		<result property="point" column="POINT"/>
		<result property="point_date" column="POINT_DATE"/>
		<result property="user_no" column="USER_NO"/>
		<association property="point_category" resultMap="point_categoryResultMap"/>
	</resultMap>
	
	<!-- point_category -->
	<resultMap type="com.kh.clendy.mypage.model.vo.Point_Category" id="point_categoryResultMap">
		<id property="point_code" column="POINT_CODE"/>
		<result property="point_content" column="POINT_CONTENT"/>
	</resultMap>

	<!-- id로 유저정보 조회 -->
	<select id="selectMember" parameterType="_int" resultMap="loginMemberResultMap">
			SELECT
			        A.USER_NO
			      , A.ID
			      , A.PASSWORD
			      , A.USER_NAME
			      , A.EMAIL
			      , A.PHONE
			      , A.ADDRESS
			      , A.GENDER
			      , A.HEIGHT
			      , A.WEIGHT
			      , A.SIGN_DATE
			      , A.MODIFY_DATE
			      , A.USER_STATUS
			      , A.TEMP_PWD_YN
			      , B.USER_NO REF_USER_NO
			      , B.AUTH_CODE REF_AUTHORITY_CODE
			      , C.AUTH_CODE REF_AUTHORITY_CODE2
			      , C.AUTH_NAME 
			      , C.AUTH_DESC 
			  FROM MEMBER A
			  LEFT JOIN MEMBER_ROLE B ON(A.USER_NO = B.USER_NO)
			  LEFT JOIN AUTHORITY C ON(B.AUTH_CODE = C.AUTH_CODE)
			WHERE A.USER_NO = #{ user_no }
	</select>
	
	<!-- Member 테이블 수정 -->
	<update id="modifyMember" parameterType="com.kh.clendy.member.model.vo.Member">
			UPDATE MEMBER
		    	SET PASSWORD = #{ password }
		      , EMAIL = #{ email }
		      , PHONE = #{ phone }
		      , ADDRESS = #{ address }
		      , HEIGHT = #{ height }
		      , WEIGHT = #{ weight }
		    WHERE USER_NO = #{ user_no }
	</update>
	
	<!-- Member_Role 테이블에서 삭제 --> 
	<delete id="deleteMemberRole" parameterType="_int">
		DELETE
	    	FROM MEMBER_ROLE
	   	   WHERE USER_NO = #{ user_no }
	</delete>
	
	<!-- Member 테이블에서 삭제 --> 
	<delete id="deleteMember" parameterType="_int">
		DELETE 
   	 		FROM MEMBER
   		  WHERE USER_NO = #{ user_no }
	</delete>
	
	<!-- 적립금 리스트 불러오기 -->
	<select id="selectPoint" parameterType="_int" resultMap="pointResultMap">
		SELECT
		        *
		    FROM POINT 
		    JOIN POINT_CATEGORY USING(POINT_CODE)
		   WHERE USER_NO = #{ user_no }
		  ORDER BY POINT_DATE DESC
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>