<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.product.model.dao.ProductMapper">
	
	<resultMap id="productListResultMap" type="com.kh.clendy.product.model.vo.Product">
		<id property="pNo" column="P_NO"/>
		<result property="pName" column="P_NAME"/>	
		<result property="pPrice" column="P_PRICE"/>	
		<result property="pDiscount" column="P_DISCOUNT"/>	
		<result property="CategoryCode" column="CATEGORY_CODE"/>	
		<result property="sellerCode" column="SELLER_CODE"/>	
		<result property="pStatus" column="P_STATUS"/>	
	</resultMap>
	
	<!-- 상품 상세 반환 -->
	<resultMap id="productViewInfoResultMap" type="com.kh.clendy.product.model.vo.Product">
		<id property="pNo" column="P_NO"/>
		<result property="pName" column="P_NAME"/>	
		<result property="pPrice" column="P_PRICE"/>	
		<result property="pDiscount" column="P_DISCOUNT"/>	
		<result property="CategoryCode" column="CATEGORY_CODE"/>	
		<result property="sellerCode" column="SELLER_CODE"/>	
		<result property="pStatus" column="P_STATUS"/>
		<result property="wishLike" column="WISH_LIKE"/>
		<collection property="imageList" resultMap="productImageResultMap"/>
	</resultMap>
	
	<!-- ProductImage 맵 -->
	<resultMap id="productImageResultMap" type="com.kh.clendy.product.model.vo.ProductImage">
		<result property="imgNo" column="IMG_NO"/>
		<result property="route" column="ROUTE"/>
		<result property="imgName" column="IMG_NAME"/>
		<result property="imgrName" column="IMG_R_NAME"/>
		<result property="imgLevel" column="IMG_LEVEL"/>
		<result property="imgStatus" column="IMG_STATUS"/>
	</resultMap>
	
	<!-- 상품 목록 갯수 -->
	<select id="productGetListCount" resultType="_int">
		SELECT
       		   COUNT(*) AS COUNT
		  FROM PRODUCT PD
		  LEFT JOIN PRODUCT_IMAGE PI ON (PD.P_NO = PI.P_NO)
		  LEFT JOIN IMAGE IMG ON(PI.IMG_NO = IMG.IMG_NO)
		 WHERE PD.P_STATUS = 'N'
		   AND IMG.IMG_LEVEL = 1
		    OR IMG_LEVEL IS NULL
	</select>
	
	<!-- 상품 목록 -->
	<select id="productSelectList" resultMap="productListResultMap" parameterType="_int">
		     SELECT
            *
            FROM(
            SELECT
       ROWNUM ROWN
     , TBL.*
     FROM(
        SELECT
               PD.P_NO
             , PD.P_NAME
             , PD.P_PRICE
             , PD.P_DISCOUNT
             , PD.CATEGORY_CODE
             , PD.SELLER_CODE
             , PD.P_STATUS
             , PI.IMG_NO
             , IMG.ROUTE
             , IMG.IMG_NAME
             , IMG.IMG_R_NAME
             , IMG.IMG_LEVEL
             , IMG.IMG_STATUS
          FROM PRODUCT PD
          LEFT JOIN PRODUCT_IMAGE PI ON (PD.P_NO = PI.P_NO)
          LEFT JOIN IMAGE IMG ON(PI.IMG_NO = IMG.IMG_NO)
          WHERE PD.P_STATUS = 'N'
            AND IMG.IMG_LEVEL = 1
             OR IMG_LEVEL IS NULL
          ORDER BY P_NO DESC
     ) TBL)
     WHERE ROWN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<select id="productViewInfo" parameterType="java.util.Map" resultMap="productViewInfoResultMap">
		SELECT
		       PD.P_NO
		     , PD.P_NAME
		     , PD.P_PRICE
		     , PD.P_DISCOUNT
		     , PD.P_ABLE_COUPON
		     , PD.P_DETAIL_IMAGE
		     , PD.CATEGORY_CODE
		     , PD.SELLER_CODE
		     , PD.P_STATUS
		     , (SELECT
		               COUNT(*)
		               FROM WISHLIST SWL
		               WHERE SWL.USER_NO = #{userNo}
		                 AND PD.P_NO = SWL.P_NO ) AS WISH_LIKE
		     , IMG.IMG_NO
		     , IMG.ROUTE
		     , IMG.IMG_NAME
		     , IMG.IMG_R_NAME
		     , IMG.IMG_LEVEL
		     , IMG.IMG_STATUS
		     FROM PRODUCT PD
		     LEFT JOIN WISHLIST WL ON(PD.P_NO = WL.P_NO)
		     LEFT JOIN MEMBER M ON(WL.USER_NO = M.USER_NO)
		     LEFT JOIN PRODUCT_IMAGE PIMG ON(PD.P_NO = PIMG.P_NO)
		     LEFT JOIN IMAGE IMG ON(PIMG.IMG_NO = IMG.IMG_NO)
		    WHERE PD.P_STATUS = 'N'
		      AND IMG.IMG_LEVEL = 2
		      AND PD.P_NO = #{pNo}
	</select>
	
	<select id="productViewIsWish" resultType="_int" parameterType="java.util.Map">
		SELECT
	       	   COUNT(*) AS COUNT
	      FROM WISHLIST
	     WHERE USER_NO = #{userNo}
	       AND P_NO = #{pNo}
	</select>
	
	<insert id="productViewInsertWish" parameterType="java.util.Map">
		INSERT
		  INTO WISHLIST
		  (
		  	   USER_NO
		  	 , P_NO
		  )
		VALUES
		 (
		 	  #{userNo}
		 	, #{pNo}
		 )
	</insert>
	
	<delete id="productViewDeleteWish" parameterType="java.util.Map">
		DELETE
		  FROM WISHLIST
		 WHERE USER_NO = #{userNo}
		   AND P_NO = #{pNo}
	</delete>
	
</mapper>