<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.reviewboard.model.dao.ReviewMapper">
	<resultMap type="com.kh.clendy.reviewboard.model.vo.Review" id="reviewAllList">
		<id property="rNo" column="R_NO"/>
		<result property="pName" column="P_NAME"/>
		<result property="pPrice" column="P_PRICE"/>
		<result property="pImgName" column="IMG_NAME"/>
		<result property="userName" column="USER_NAME"/>
		<result property="height" column="HEIGHT"/>
		<result property="weight" column="WEIGHT"/>
		<result property="rTitle" column="R_TITLE"/>
		<result property="rContent" column="R_CONTENT"/>
		<result property="rimgName" column="IMG_NAME"/>
	</resultMap>
	
	<select id="selectReviewAllList" resultMap="reviewAllList">
	SELECT
    P.P_NAME
    ,P.P_PRICE
    ,I.IMG_NAME
    ,M.USER_NAME
    ,M.HEIGHT
    ,M.WEIGHT
    ,R.R_TITLE
    ,R.R_CONTENT
    ,RI.IMG_NAME
    FROM REVIEW R LEFT OUTER JOIN REVIEW_IMAGE RR ON R.R_NO = RR.R_NO
    LEFT OUTER JOIN IMAGE RI ON RR.IMG_NO = RI.IMG_NO
    LEFT OUTER JOIN ORDER_OPTION OO ON R.ORDER_OPTION_CODE = OO.ORDER_OPTION_CODE
    LEFT OUTER JOIN PRODUCT_OPTION PO ON OO.P_OPTION_NO = PO.P_OPTION_NO
    LEFT OUTER JOIN PRODUCT P ON PO.P_NO = P.P_NO
    LEFT OUTER JOIN PRODUCT_IMAGE PI ON P.P_NO = PI.P_NO
    LEFT OUTER JOIN IMAGE I ON PI.IMG_NO = I.IMG_NO
    LEFT OUTER JOIN MEMBER M ON R.USER_NO = M.USER_NO
    WHERE R.R_STATUS = 'Y'
	</select>
</mapper>