<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.clendy.sellerAsk.model.dao.SellerAskMapper">
	
	<resultMap type="com.kh.clendy.sellerAsk.model.vo.SellerAsk" id="sellerAskResultMap">
		<id property="PIQCode" column="P_I_Q_CODE"/>
		<result property="pName" column="P_NAME"/>
		<result property="PIQTitle" column="P_I_Q_TITLE"/>
		<result property="PIQCDate" column="P_I_CREATE_DATE"/>
		<result property="id" column="ID"/>
		<result property="PIQContent" column="P_I_Q_CONTENT"/>
		<result property="pNo" column="P_NO"/>
		<result property="PIAContent" column="P_I_A_CONTENT"/>
	</resultMap>
	
	<select id="sellerAskListCount" resultType="_int">
		SELECT
				COUNT(*) AS COUNT
		   FROM PRODUCT_INQUIRY_Q
	</select>
	
	<select id="selectSellerAskList" parameterType="map" resultMap="sellerAskResultMap">
	
		SELECT
		*
		FROM(SELECT
			ROWNUM ROWN
			,TBL.*
			FROM(
			SELECT
    PIQ.P_I_Q_CODE
    ,P.P_NAME
    ,PIQ.P_I_Q_TITLE
    ,PIQ.P_I_Q_CREATE_DATE
    ,M.ID
    ,PIQ.P_I_Q_CONTENT
    ,P.P_NO
    ,PIA.P_I_A_CONTENT
    ,P.SELLER_CODE
    FROM PRODUCT_INQUIRY_Q PIQ
    LEFT OUTER JOIN PRODUCT_INQUIRY_A PIA ON PIQ.P_I_Q_CODE = PIA.P_I_Q_CODE
    LEFT OUTER JOIN PRODUCT P ON PIQ.P_NO = P.P_NO
    LEFT OUTER JOIN MEMBER M ON PIQ.USER_NO = M.USER_NO
			)TBL)
			WHERE ROWN BETWEEN #{startRow} AND #{endRow}
		
	
	</select>



</mapper>