<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/member/emailCheck.css" rel="stylesheet"></link>
    <title>Clendy 인증번호 확인</title>
</head>
<body>
    <div class="title">
        <img class="logo" src="/images/hanger.png">
        <div>Clendy 인증번호 확인</div>
    </div>

    <div class="input_area">
        <form>
            <div class="email_check_area">
                <span>인증번호</span><br>
                <input type="password" name="email_check" placeholder="이메일로 받은 인증번호를 입력해주세요" required>
            </div>
        </form>
	</div>
</body>
</html>