<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/member/login.css" rel="stylesheet"></link>
 	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <title>로그인</title>
 	
</head>
<body>
	<th:block th:if="${#request.getAttribute('msg') == 'fail'}">
		<script>
			alert('아이디랑 비밀번호를 확인해주세요.');
		</script>
	</th:block>
	
	<div th:replace="common/header.html"></div>
	<!-- Spring Security의 formlogin 하는 경우 username, password로 꺼내므로 사용자 입력 양식의 name 속성 조심
		 인증이 획득되지 않고 요청을 하면 로그인 페이지로 이동함! -->
    <div class="title">
        <img class="logo" src="/images/hanger.png">
        <div>Clendy 로그인</div>
    </div>

    <div class="login_area">
        <form th:action="@{/member/login}" method="post">
            <div class="id_area">
                <span>아이디</span><br>
                <input type="text" name="username" class="id" maxlength="15" placeholder="아이디를 입력해주세요" required>
            </div>

            <div class="pwd_area">
                <span>비밀번호</span><br>
                <input type="password" name="password" maxlength="8" placeholder="비밀번호를 입력해주세요" required>
                <img class="pwd_img" src="/images/show.png">
            </div>

            <div class="login_btn">
                <button type="submit">로그인</button>
            </div>

            <div class="login_option">
                <div class="remember"> 
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">아이디 기억하기</label>
                </div>

                <div class="find">
                    <span onclick="findid()">아이디 찾기</span>
                    <span>|</span>
                    <span onclick="findPwd()">비밀번호 찾기</span>
                    <span>|</span>
                    <span><a href="/member/signUp">회원가입</a></span>
                </div>
            </div>
        </form>

        <div class="login_api">
            <button type="button" name="kakao">
                <img class="api_img" src="/images/kakao.png" width="30px">
                <a href="">카카오 로그인</a>
            </button><br>
            <button type="button" name="naver">
                <img class="api_img" src="/images/naver.png" width="40px">
                <a href="">네이버 로그인</a>
            </button>
        </div>
    </div>
    <div th:replace="common/footer.html"></div>
    
    <!-- 아이디 찾기 -->
    <script>
    	function findid(){
    		var popupWidth = 600;
			var popupHeight = 350;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/member/findId", "아이디 찾기", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		
    	}
    </script>
    
    <!-- 비밀번호 찾기 -->
    <script>
    	function findPwd(){
    		var popupWidth = 600;
			var popupHeight = 350;
	
			var popupX = (window.screen.width / 2) - (popupWidth / 2);
			var popupY= (window.screen.height / 2) - (popupHeight / 2);
			
			window.open("/member/findPwd", "비밀번호 찾기", 'status=no, height=' + popupHeight  + ', width=' + popupWidth  + ', left='+ popupX + ', top='+ popupY)
		
    	}
    </script>
    
</body>
</html>