<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/member/signUp.css" rel="stylesheet"></link>
     <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- csrf 토큰 -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>회원가입</title>
</head>
<body>
	<div th:replace="common/header.html"></div>
    <div class="title">
        <img class="logo" src="/images/hanger.png">
        <div>Clendy 회원가입</div>
    </div>

    <div class="joinForm">
        <form th:action="@{/member/signUp}" name="signUp" method="post">
            <div class="id_area">
                <span>아이디</span><span class="required">*</span><br>
                <span id="input_rule">영문 소문자로 시작하고, 영문 대소문자 + 숫자 5자~15자</span>
                <div class="id_input area">
                    <input type="text" name="id" maxlength="15" placeholder="아이디 입력" required>
                    <button id="idCheck" type="button">중복확인</button>
                </div>
            </div>

            <div class="pwd_area">
                <span>비밀번호</span><span class="required">*</span><br>
                <span id="input_rule">영문,숫자,특수문자 조합 최소 8자리</span>
                <div class="pwd_input area">
                    <input type="password" name="password" maxlength="8" placeholder="비밀번호 입력" required>
                    <img class="pwd_img" src="/images/show.png">
                </div>
            </div>
            
            <div class="pwdCheck_area">
                <span>비밀번호 확인</span><span class="required">*</span>
                <div class="pwdCheck_input area">
                    <input type="password" name="pwdCheck" maxlength="8" placeholder="비밀번호 재입력" required>
                    <img class="pwd_img" src="/images/show.png">
                </div>
            </div>

            <div class="name_area">
                <span>이름</span><span class="required">*</span>
                <div class="name_input_area">
                    <input type="text" name="user_name" required>
                </div>
            </div>

            <div class="email_area">
                <span>이메일</span><span class="required">*</span>
                <div class="email_input area">
                    <input type="email" name="email" required>
                </div>
            </div>

            <div class="phone_area">
                <span>휴대폰 번호</span><span class="required">*</span>
                <div class="phone_input area">
                    <input type="tel" name="phone" placeholder="(-)없이 입력" required>
                </div>
            </div>

            <div class="postcodify_area">
                <span>우편번호</span>
                <div class="postcodify_input area">
                    <input type="text" name="address" class="postcodify_postcode5" readonly>
                    <button id="postcodify_search_button" type="button">검색</button>
                </div>
            </div>

            <div class="postcodify2_area">
                <span>도로명주소</span>
                <div class="postcodify2_input area">
                    <input type="text" name="address" class="postcodify_address" readonly>
                </div>
            </div>

            <div class="postcodify3_area">
                <span>상세주소</span>
                <div class="postcodify3_input area">
                    <input type="text" name="address" class="postcodify_details">
                </div>
            </div>

            <div class="gender_area">
                <span>성별</span><span class="required">*</span>
                <div class="gender_input_area">
                    <input type="radio" id="male" name="gender" value="남" checked>
                    <label for="male">남</label>
                    <input type="radio" id="female" name="gender" value="여">
                    <label for="female">여</label>
                </div>
            </div>

            <div class="bodySize_area">
                <span>Body Size(선택사항)</span>
                <div class="bodySize_input_area">
                    <span>키</span><input type="number" name="height" placeholder="(cm)">
                    <span>몸무게</span><input type="number" name="weight" placeholder="(kg)">
                </div>
            </div>
            
            <div class="recommender_area">
                <span>추천인(선택사항)</span>
                <div class="recommender_input area">
                    <input type="text" name="recommender" placeholder="추천인 아이디 입력(적립금 2000원)">
                    <button id="recommender_btn" type="button" >확인</button>
                </div>
            </div>

            <div class="clause_area">
                <div class="checkAll">
                    <input type="checkbox" id="checkAll" onclick="selectAll(this)">
                    <span>전체 동의</span>
                </div>
                <div>
                    <input type="checkbox" id="clause1" name="clause" required>
                    <span>이용약관</span><button>내용보기</button>
                </div>
                <div>
                    <input type="checkbox" id="clause2" name="clause" required>
                    <span>개인정보 수집 및 이용안내</span><button>내용보기</button>
                </div>
                <div>
                    <input type="checkbox" id="clause3" name="clause" required>
                    <span>개인정보 처리위탁</span><button>내용보기</button>
                </div>
                <div>
                    <input type="checkbox" id="clause4" name="clause" required>
                    <span>개인정보 제3자 제공</span><button>내용보기</button>
                </div>
            </div>
            
            <div class="btn_area">
            <button id="joinBtn">회원가입</button>
        	</div>
        </form>
    </div>
	<div th:replace="common/footer.html"></div>
    
    <!-- 주소입력 : jQuery와 postcodify 로딩 -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
	
	<!-- '검색' 단추 누르면 팝업 레이어 열리도록 설정 -->
    <script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>
    
    <!-- 체크박스 전체 선택 -->
    <script>
    	function selectAll(selectAll){
    		const checkboxes = document.getElementsByName('clause');
    		
    		checkboxes.forEach((checkbox) => {
    			checkbox.checked = selectAll.checked;
    		})
    	}
    </script> 
    
    <!-- 추천인 아이디 존재하는지 검사 -->
    <script>
    	$(document).on("click", "#recommender_btn", function(){
    		var rec_id = $(this).parent().children('input').val();
    		var token = $("meta[name='_csrf']").attr("content");
    		var header = $("meta[name='_csrf_header']").attr("content"); 
    		    		
    		$.ajax({
    			url : "/member/rec_idCheck",
    			type : "post",
    			data : {rec_id : rec_id},
    			/* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
				beforeSend : function(xhr)		
				{
					xhr.setRequestHeader(header, token);    					
				},
				success : function(result){
					if(result > 0) {
						alert("추천 회원이 존재합니다.");
					} else
						alert("해당 회원이 존재하지 않습니다. 아이디를 확인해주세요.");			
				},
				error : function(e){
					console.log(e);
				}
    		});
    	});
    </script>
    
    
    <!-- 유효성 검사 -->

        
    
    
    
    
    
    
    
    
</body>
</html>












