div {
    borde: 1px solid black;
}

.outer {
    width: 900px;
    margin: auto;
}

.title{
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.cart_list {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
}

ul, li {
	margin: 0;
	padding: 5px;
}

ul {
    display: flex;
	list-style: none;
    border-bottom: 1px solid lightgray;
}

.cart_header {
    justify-content: space-around;
}

.cart_ul {
    justify-content: space-around;
}

.cart_ul li {
    margin-top: auto;
    margin-bottom: auto;
}

.allCheck {
    margin-right: -30px;
    margin-left: -30px;
}

.check {
    margin-right: -30px;
    margin-left: -30px;
}

.cart_header .pname{
    width: 300px;
    text-align: center;
}

.cart_ul .pname {
    display: flex;
    width: 300px;
}

.img_area {
    margin-right: 10px;
}

img {
    width: 80px;
}

.p_info {
    margin: auto;
    font-weight: bold;
}

.p_info #pname {
    color: gray;
}

.numBox {
    width: 45px;
    text-align: center;
    border: none;
}

.amount button {
    border: none;
}

#minus {
    margin-right: -5px;
}

#plus {
    margin-left: -5px;
}

#delete {
    border: 1px solid lightgray;
    background-color: white;
    font-size: x-small;
}

.select button{
    border: 1px solid lightgray;
    background-color: white;
}

.result {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    border-top: 3px solid black;
    font-size: x-large;
    font-weight: bold;
}

#sum {
    color: red;
}

.btn_area {
    text-align: center;
}

#order_btn {
    width: 200px;
    height: 50px;
    background-color: #060032;
    color: white;
    font-size: x-large;
    font-weight: bold;
    border: none;
}

/* 체크박스 색상 변경 */
input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 1px solid gray;
    background: white;
    height: 12.8px;
    width: 12.8px;
    border: 1px solid white;
  }
  
  input[type="checkbox"]:checked {
    background: #060032;
  }
  
  input[type="checkbox"]:hover {
    filter: brightness(90%);
  }
  
  input[type="checkbox"]:after {
    content: '';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    display: none;
  }
  
  input[type="checkbox"]:checked:after {
    display: block;
  }