div{
    borde : 1px solid black;
}

span{
    borde : 1px solid black;
    font-weight: bold;
}

.title {
    display: flex;
    width: 500px;
    font-size: 40px;
    justify-content: center;
    margin: auto;
    color: #060032;
    padding: 10px;
    border-bottom: 4px solid #060032;
}

.logo {
    margin-right: 15px;
    width: 48px;
}

.joinForm {
    width: 450px;
    margin:auto;
    margin-top: 40px;
}

.joinForm div {
    margin-bottom: 10px;
}

form div div {
    margin-top: 5px;
}

form > div {
    margin-left: 80px;
}

.area input {
    width: 280px;
}

.required {
    color: red;
}

input {
    height: 30px;
    padding-left: 10px;
}

.id_view input{
    background-color: #E5E5E5;
    border: none;
    font-size: large;
}

.pwd_img{
    width: 20px;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}

.name_view input{
    background-color: #E5E5E5;
    border: none;
    font-size: large;
}

#postcodify_search_button{
    background-color: #060032;
    color: white;
    width: 55px;
    height: 22px;
    border: none;
    margin-left: 5px;
    font-size: small;
    vertical-align: middle;
}

.gender_area {
    margin-top: 20px;
}

.bodySize_input_area span {
    margin-right: 10px;
}

.bodySize_input_area input {
    width: 80px;
}

.recommender_area {
    margin-top: 20px;
}

.recommender_input input{
    background-color: #E5E5E5;
    border: none;
    font-size: large;
}

.btn_area{
    margin-top: 50px;
    text-align: center;
}

.btn_area button {
    background-color: #060032;
    color :white;
    border: none;
    font-weight:lighter;
    font-size: large;
    width: 100px;
    height: 35px;
}