div {
    borde: 1px solid black;
}

.outer {
    width: 500px;
    height: 300px;
}

.title {
    width: 200px;
    margin: auto;
    margin-top: 80px;
    font-size: large;
    font-weight: bold;
}

.input {
    width: 200px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

input {
    width: 200px;
    height: 25px;
}

.btn {
    width: 90px;
    margin: auto;
}

button {
    background-color: #060032;
    color: white;
    border: none;
    font-size: large;
    width: 90px;
    height: 35px;
}