div {
    borde: 1px solid black;
}

.outer{
    width: 800px;
    margin: auto;
    min-height: 500px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    margin-bottom: 60px;
}

/* 라디오 버튼 숨기기 */
input[type=radio] {
    display: none;
    margin: 10px;
}

label {
    cursor: pointer;
}

/* 라디오박스인 라벨 선택시 밑줄 */
.selectType:checked + .radio {
    border-bottom: 1px solid black;
}

.title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
}

.board_list li {
    borde: 1px solid black;
    padding: 0px;
    margin: 0px;
    text-align: center;
    line-height: 40px;
}

.onmouseover {
    background: #bebdca;
	cursor: pointer;
}

.board_list ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    height: 40px;
    margin: 0px;
}

.board_header {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    height: 30px;
    line-height: 30px;
}

.b_no {
    width: 80px;
}

.b_category {
    width: 90px;
}

.b_title {
    width: 400px;
}

.b_date {
    width: 100px;
}

.b_status {
    width: 80px;
}

.b_orderno {
    width: 120px;
}

.b_pname {
    width:200px
}

.refund {
    margin-top: 40px;
}

#review_List ul{
	padding-left:10px;
	padding-right: 10px;
}

/* 슬라이드 부분 */ 
.slide_area img {
	width: 35px;
	height: 35px;
	margin-left: 30px;
	margin-right: 35px;
}


.slide_area {
	display: none;
}

.p_info {
	background-color : #e2e1e6;
	border-bottom : 1px solid lightgray;
	padding:10px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.question {
	display : flex;
	background-color : #e2e1e6;
	border-bottom : 1px solid lightgray;
	padding: 10px;
}

.q_date {
	font-size : small;
	text-align: end;
}

textarea {
	background-color: transparent;
	resize:none;
	border:none;
	overflow-y:hidden;
	width: 670px;
	font-size: large;
}

.answer{
	display : flex;
	background-color : #e2e1e6;
	border-bottom : 1px solid lightgray;
	padding: 10px;
}

.a_date {
	font-size : small;
	text-align: end;
}

.null_list {
	margin-top : 45px;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
}

#null {
	width: 120px;	
	margin-bottom: 20px;
}

.p_info a:link{
    color: black;
    text-decoration: none;
}

.p_info a:visited{
    color: black;
    text-decoration: none;
}

.p_info a:hover{
    cursor: pointer;
}

#modify {
	cursor : pointer;
}

#ex_ref_List img {
	width: 80px;
}

#ex_ref_List .null_list {
	font-size: large;
	font-weight: bold;
}
