div {
    borde: 1px solid black;
}

.outer {
    width: 950px;
    margin: auto;
    min-height: 500px;
}

.title{
    width: 950px;
    margin: auto;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

label {
    font-size: small;
    color: gray;
    cursor: pointer;
}

/* 체크박스 색상 변경 */
input[type=radio] {
    display: none;
    margin: 10px;
}

.outer_div {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 15px;
    padding: 0px;
}

.wish_list {
	list-style:none;
}

.p_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.p_info div {
    margin-bottom: 5px;
}

.product {
    display: flex;
}

.name {
    font-weight: bold;
}

#delete {
    background-color: white;
    border: 1px solid lightgray;
    align-self: end;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 40px;
	height: 20px;
	cursor:pointer;
}

a {
	cursor:pointer;
}

a:link{
	color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}