div {
    borde: 1px solid black;
}

.outer {
    width: 1000px;
    margin: auto;
    min-height: 500px;
}

.title{
    width: 1000px;
    margin: auto;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    margin-bottom: 30px;
}

.title label {
    font-size: small;
    color: gray;
    cursor: pointer;
}

.title input[type=radio]:checked + label{
	color: black;
	font-size : medium;
	font-weight : bold;
}

.nowish{
	width: 120px;
	margin-bottom: 20px;
}

.null {
	width: 950px;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	align-self: center;
}

/* 라디오 버튼 숨기기 */
input[type=radio] {
    display: none;
    margin: 10px;
}

.outer_div {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    padding: 0px;
}

.wish_list {
	list-style:none;
}

.top_div {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    padding: 0px;
}

.bottom_div {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    padding: 0px;
}

.acc_div {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    padding: 0px;
}

.p_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.p_info div {
    margin-bottom: 5px;
}

.product_in {
	display: flex;
}

.name {
    font-weight: bold;
}

#delete {
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 40px;
	height: 20px;
	cursor:pointer;
	float: right;
}

.wish_list a:link{
    color: black;
    text-decoration: none;
}

.wish_list a:visited{
    color: black;
    text-decoration: none;
}

.wish_list a:hover{
    cursor: pointer;
}

img {
	width:100px;
}

/* 페이징 css */

ul {
	list-style: none;
}

.pagaing_wrap ul.pagaing_num li a:link{
    text-decoration: none;
}

.pagaing_wrap ul.pagaing_num li a:visited{
    text-decoration: none;
}